.thin_line {
    margin-bottom: 5px;
    height: 1px;
    background: #D4D4D4;
}

.add_store {
    padding: 10px 0;
}

.add_store_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & li {
        display: flex;
    }
}

.region_hidden {
    display: none;
    }

.label_field {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    width: 256px;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

.input_field {
    display: flex;
    color: black;
    border-radius: 2px;
    border: 1px solid #B5B8C8;
    height: auto;
    width: 326px;
    font-family: "Trebuchet MS";
    font-size: 13px;
    &:focus {
        border-radius: 2px;
        border: 2px solid black;
    }
}

span {
    color: red;
    font-family: "Trebuchet MS";
    font-size: 18px;
}

form button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #AAA;
    background: #DADADA;
    text-align: center;
    justify-content: center;
    font-family: "Trebuchet MS";
    font-size: 13px;
    cursor: pointer;
    color: #333333;
    width: 80px;
    height: 30px;
}

.delete_store {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    & h1 {
        display: flex;
        font-family: "Trebuchet MS";
        font-size: 18px;
        color: #333333;
    }
}

.buttons_for_delete {
    display: flex;
    gap: 5px;
}

.cancel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #AAA;
    background: #DADADA;
    font-family: "Trebuchet MS";
    font-size: 13px;
    cursor: pointer;
    color: #333333;
    width: 80px;
    height: 30px;
}

.errorlist {
    display: flex;
    text-align: justify;
    padding-left: 5px;
    max-width: 366px;
    width: 100%;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: red;
}