.chat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 50px;
    padding-left: 10px;
    width: 100%;
}

.dialogs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_dialogs, .no_dialogs {
    display: flex;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.select_all_dialogs {
    display: flex;
    align-items: center;
    gap: 10px;

    & label {
        font-family: "Trebuchet MS";
        font-size: 13px;
    }
}

.one_dialog {
    display: flex;
    width: 100%;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    padding: 5px 0;
}

.dialog_checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

.dialog_items {
    display: block;
    padding: 0 5px;
    width: 100%;
    :hover, :hover * {
        color: #FF0000;
    }
}

.dialog_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.dialog_list {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    width: 100%;
    color: #000000;
}

.last_message_author {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.last_message_pub_date {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.last_message_unread {
    padding: 5px 0;
    color: #000000;
    background: #DCDCDC;
    border-radius: 5px;
}

.last_message_read {
    padding: 5px 0;
    color: #000000;
    border-radius: 5px;
}

.dialogs_marked {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    & p {
        font-family: "Trebuchet MS";
        font-size: 13px;
    }
    & button {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #AAA;
        background: #DADADA;
        align-items: center;
        justify-content: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        cursor: pointer;
        color: #333333;
        width: auto;
        height: auto;
    }
}


.dialog_structure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message_unread {
    padding: 5px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    background: #DCDCDC;
}

.message_read {
    padding: 5px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
}

.message_body {
    display: flex;
    flex-direction: column;
}

.message_items {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}

.companion_message {
    font-family: "Trebuchet MS";
    color: #008000;
}

.user_message {
    font-family: "Trebuchet MS";
    color: #000000;
}

.message_pub_date_green {
    font-family: "Trebuchet MS";
    color: #008000;
}

.message_pub_date_black {
    font-family: "Trebuchet MS";
    color: #000000;
}

.message_text {
    padding: 5px 0;
    text-align: justify;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #333333;
}

.delete_user_message {
    display: flex;
    justify-content: flex-end;
    & input {
        background: none;
        border: none;
        font-family: "Trebuchet MS";
        font-size: 9px;
        color: #307792;
        cursor: pointer;
    }
}

.message_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & button {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #AAA;
        background: #DADADA;
        align-items: center;
        justify-content: center;
        font-family: "Trebuchet MS";
        font-size: 13px;
        cursor: pointer;
        color: #333333;
        width: 90px;
        height: auto;
    }
}

.message_label {
    display: flex;
    padding: 5px 5px 0 5px;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #333333;
    font-weight: bold;
}

.message_input {
    display: flex;
    color: black;
    border-radius: 2px;
    border: 1px solid #B5B8C8;
    width: 100%;
    font-family: "Trebuchet MS";
    font-size: 13px;
    &:focus {
        border-radius: 2px;
        border: 2px solid black;
    }
}