.section_publications {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 0;
    gap: 15px;
}

.publication_list {
    
}

.publication_list_item {

}

.publication_link_wrap {
    
}

.publication_linck {
    display: block;
    &:hover {
        color: black;
        background: #E6E6E6;
    }
}

.publication_link_wrap {
    display: flex;
    border: black solid 1px;
}

.publication_img {
    min-width: 100px;
    & img {
        max-width: 100%;
    }
}

.publication_text_title {
    &:hover {
        color: red;
    }
}
