{% extends 'base.html' %}

{% load static %}

{% block content %}
    <title>Добавление магазина</title>
    <div class="thin_line"></div>
    <div class="add_store">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="add_store_form">
                <li>
                    <p class="label_field"><span>*</span><label for="oblast">Регион, город, область</label></p>
                    <div>
                        <p class="region_opened">
                            <select class="input_field" id="select_oblast">
                                <option value="0">---------</option>
                                {% for obl in oblast %}
                                    <option value="{{ obl.id }}">{{ obl.area }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="region_hidden">
                            <select class="input_field" id="select_city" name="region" style="margin-top: 5px;">
                                <option value="0">---------</option>
                            </select>
                        </p>
                    </div>
                </li>
                <li>
                    <p class="label_field"><label for="address">{{ store_form.address.label }}</label></p>
                    <p>{{ store_form.address }}</p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="category">{{ store_form.category.label }}</label></p>
                    <p>
                        <select class="input_field" id="select_category" name="category" size="10">
                        </select>
                    </p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="title">{{ store_form.title.label }}</label></p>
                    <p>{{ store_form.title }}</p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="slug">{{ store_form.slug.label }}</label></p>
                    <p>{{ store_form.slug }}</p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="description">{{ store_form.description.label }}</label></p>
                    <p>{{ store_form.description }}</p>
                </li>
                <li>
                    <p class="label_field"><label for="url">{{ store_form.url.label }}</label></p>
                    <p>{{ store_form.url }}</p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="contact_name">{{ store_form.contact_name.label }}</label></p>
                    <p>{{ store_form.contact_name }}</p>
                </li>
                <li>
                    <p class="label_field"><span>*</span><label for="email">{{ store_form.email.label }}</label></p>
                    <p>{{ store_form.email }}</p>
                </li>
                <li>
                    <p class="label_field"><label for="phone_num">{{ store_form.phone_num.label }}</label></p>
                    <p>{{ store_form.phone_num }}</p>
                </li>
                <li>
                    <p class="label_field"><label for="url">{{ store_form.video_link.label }}</label></p>
                    <p>{{ store_form.video_link }}</p>
                </li>
                <li>
                    <p class="label_field"><label for="logo_image">{{ store_form.logo_image.label }}</label></p>
                    <p>{{ store_form.logo_image }}</p>
                </li>
            </ul>
            <button>Добавить</button>
        </form>
    </div>
    <script src="{% static "js/add_store.js" %}"></script>
{% endblock %}