{% extends 'profile_user.html' %}
{% load static %}

{% block css2 %}
<link rel="stylesheet" href="{% static "css/profile_remove_store.css" %}">
{% endblock css2 %}


{% block mainInfo %}
<div class="main__info">
    <h1>Вы уверены, что хотите удалить магазин {{ store.title }}?</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="buttons_for_delete">
            <button>Удалить</button>
            <a href="{% url 'users:my_store' %}" class="submit__btn">
                Отмена
            </a>
        </div>
    </form>
</div>
{% endblock mainInfo %}