{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/base_advertisement_style.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/feedback.css' %}">
{% endblock %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Связь с администрацией сайта
        </p>
    </div>
{% endblock %}
{% block find %}
{% endblock %}
{% block content %}
<title>Связь с администрацией сайта</title>
<div class="line"></div>
<div class="wrapper">
    <div class="container">
        <section class="send_message_for_feedback">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success-message">{{ message }}</div>
                    <script>
                        setTimeout(function() {
                            let successMessage = document.querySelector('.success-message');
                            successMessage.style.display = 'none';
                        }, 5000);
                    </script>
                {% endif %}
            {% endfor %}
            <form class="feedback_form" method="POST" novalidate>
                <p class="feedback_title">Заполните форму обратной связи для отправки письма администрации сайта</p>
                {% csrf_token %}
                <div class="feedback_email">
                    <label class="label_field"><span>*</span>{{ feedback_form.email.label }}</label>
                    <p>{{ feedback_form.email }}</p>
                    {% if feedback_form.email.errors %}
                        {{ feedback_form.email.errors }}
                    {% endif %}
                </div>
                <div class="feedback_subject">
                    <label class="label_field"><span>*</span>{{ feedback_form.subject.label }}</label>
                    <p>{{ feedback_form.subject }}</p>
                    {% if feedback_form.subject.errors %}
                        {{ feedback_form.subject.errors }}
                    {% endif %}
                </div>
                <div class="feedback_message">
                    <label class="label_field"><span>*</span>{{ feedback_form.message.label }}</label>
                    <p>{{ feedback_form.message }}</p>
                    {% if feedback_form.message.errors %}
                        {{ feedback_form.message.errors }}
                    {% endif %}
                </div>
                <div class="feedback_recaptcha">
                    <label class="label_field"><span>*</span>Подтвердите, что вы человек:</label>
                    <div class="g-recaptcha" data-sitekey="6LesQF0pAAAAAACYsgZsOAnwA_olJtct3zKAF7gv"></div>
                </div>
                <button class="execute_button">Отправить</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}