{% extends 'base.html' %}

{% load static %}

{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Помощь
        </p>
    </div>
{% endblock %}
{% block find %}
{% endblock %}
{% block content %}
    <title>Помощь</title>
    <div class="line"></div>

    <div class="text_help">
        <h1>Правила размещения объявлений</h1>

        <p>
            На ДОМер.бел вы можете разместить два типа объявлений – частное или коммерческое.
        </p>
        <hr>
        <p>Частное объявление. Частные объявления – это объявления от физического лица, поданные с
            целью рационализации своего быта и не связанные с осуществлением этим лицом предпринимательской
            деятельности, а также объявления от физического лица, зарегистрированного в качестве ремесленника.
            К частным не могут быть отнесены объявления от физических лиц, не имеющих регистрации в налоговых
            органах, но занимающихся при этом систематической торговлей товарами и услугами с целью извлечения
            дохода. Объявления от агентов по продаже и аренде недвижимости также не могут быть отнесены к частным
            объявлениям.
        </p>


        <p>В случае выявления массового размещения объявлений о продаже однотипных товаров от частного лица ДОМер.бел
            имеет
            право отклонить эти объявления и предложить размещать их в качестве коммерческих объявлений. Кроме того, в
            случае
            получения официального запроса от государственных органов в отношении выявленного факта незаконной
            предпринимательской деятельности, ДОМер.бел может предоставить данным органам соответствующую информацию.
        </p>

        <p>Коммерческое объявление. Коммерческие объявления – это объявления, подаваемые юридическими лицами и
            индивидуальными
            предпринимателями, связанные с осуществлением данными лицами предпринимательской деятельности. ДОМер.бел
            оставляет
            за собой право решать, относится объявление к коммерческому либо к частному.
        </p>

        <p>Порядок размещения объявлений на ресурсе</p>


        <p>Срок размещения объявлений. Все объявления, как частные, так и коммерческие, размещаются на ДОМер.бел на срок
            60
            дней, после чего автоматически деактивируются. Пользователь может по желанию продлить срок размещения
            объявления,
            воспользовавшись платной услугой поднятия объявления.
        </p>

        <p>Деактивация объявления. Если объявление перестало быть актуальным, пользователь может деактивировать его. Для
            этого
            нужно выбрать опцию "Удалить" в личном кабинете или на странице просмотра объявления.
        </p>

        <p>
            Автоматическая деактивация объявления. По истечению срока размещения (180 дней) поданное объявление
            автоматически деактивируется.
        </p>
        <p>
            Повторная активация объявлений. Существует один способ повторной активации объявлений: активация с
            поднятием.
        </p>

        <p>
            Активация с поднятием происходит в соответствии с правилами платного поднятия объявления (см. п. 12 "Платные
            услуги"). Для этого нужно выбрать опцию "Обновить" в личном кабинете или на странице просмотра объявления.
            Объявление снова становится активным, при этом оно поднимается в верх общего списка объявлений, а срок его
            размещения автоматически продляется еще на 60 дней.
        </p>

        <p>
            Удаление объявлений. Пользователь может удалить свое объявление в личном кабинете. Удаление означает, что
            объявление
            и все данные о нем окончательно удаляются из личного кабинета.
        </p>


        <p>
            Повторное размещение объявления. Пользователь имеет право подать новое объявление о том же товаре (услуге),
            что
            и
            предыдущее, после того, как его старое объявление будет удалено из базы данных. Если на момент подачи нового
            объявления у пользователя есть активное или неактивное объявление для определенного товара (услуги), то
            новое
            объявление не может быть опубликовано. Для повторной подачи пользователь может активировать свое ранее
            поданное
            объявление либо удалить его в соответствии с пунктом "Удаление объявлений".
        </p>


        <p>
            Дубликаты. Пользователь может подать только одно объявление для каждого конкретного товара (услуги). Если у
            пользователя уже есть объявление о продаже (покупке, аренде) определенного товара (услуги), то при подаче
            второго
            объявления с тем же товаром (услугой) последнее будет считаться дубликатом и публиковаться не будет.
        </p>


        <p>
            Дублирование объявления с разных e-mail. Пользователь не может публиковать объявления об одном и том же
            товаре
            (услуге) с указанием нескольких e-mail. Такие объявления будут расцениваться как дубликаты и публиковаться
            не будут.
        </p>


        <p>
            Использование нескольких личных кабинетов e-mail. Каждый пользователь имеет право зарегистрировать на
            ресурсе
            ДОМер.бел не более двух личных кабинетов: 1 кабинет от имени частного лица и 1 кабинет от имени юридического
            лица/ИП. В случае, если у пользователя нет зарегистрированных личных кабинетов, он имеет право использовать
            для
            размещения объявлений не более двух e-mail: один для размещения частных объявлений, а второй для публикации
            объявлений коммерческого характера. Администрация ресурса оставляет за собой право заблокировать личные
            кабинеты
            пользователя и/или отказать в публикации объявлений, если обнаружит, что пользователь использует более 2
            личных
            кабинетов/e-mail.
        </p>


        <p>
            1. Общие требования к объявлениям, размещаемым на ресурсе ДОМер.бел:
        </p>
        <p>
            Объявления, размещаемые на ресурсе ДОМер.бел, должны быть составлены на одном из государственных языков
            Республики
            Беларусь – белорусском или русском, и содержать:
        </p>
        <p>
            <span class="indent_p"> 1.1. </span> Описание конкретного товара, работы или услуги. Описание должно быть
            полным и достоверным. В одно
            объявление
            следует размещать информацию об одном товаре, объявления о группе товаров не разрешены, за исключением
            объявлений об
            обмене (например, два товара на один). Текст объявления не должен содержать ссылок на посторонние сайты.
        </p>
        <p>
            <span class="indent_p">     1.2.</span> По возможности цену товара, работы или услуги. При этом цена товара
            (услуги) обязательно должна
            указываться
            в
            белорусских рублях. Цена указывается в специальном поле "Цена", добавление информации о цене в текст
            объявления
            не
            разрешается.
        </p>

        <p>
            <span class="indent_p">1.3.</span> Достоверную информацию о продавце.
        </p>

        <p>
            <span class="indent_p">1.4.</span> Достоверную контактную информацию. К обязательной контактной информации
            относятся номер телефона. Их
            следует
            указывать в специальных полях, а не в тексте объявления. Контактные данные, указанные в тексте объявления,
            будут
            удалены при модерации объявления. В поле "Телефон" можно указать несколько номеров телефона через запятую.
        </p>

        <p>
            <span class="indent_p">1.5.</span> В случае размещения фотографий, объявление должно содержать реальные
            фотографии предмета сделки,
            соответствующие конкретному продаваемому экземпляру. Не допускается размещение фотографий, на которых
            содержится
            ссылка на посторонние сайты. Объявления без фото разрешаются, но не более чем 10 на каждого пользователя.
        <p>
            2. Дополнительные требования к объявлениям от компаний и ИП
        </p>

        <p>
            <span class="indent_p">2.1.</span> Объявления от компаний и ИП обязательно должны содержать следующую
            информацию:
        </p>

        <p>
            <span class="indent_p">2.1.1.</span> наименование (для юридического лица) или фамилия и инициалы (для
            индивидуального предпринимателя);
        </p>
        <p>

            <span class="indent_p">2.1.2.</span> учетный номер плательщика;
        </p>
        <p>
            <span class="indent_p">2.1.3.</span> юридический адрес;
        </p>
        <p>
            <span class="indent_p">2.1.4.</span> регистрационный номер лицензии, дата ее выдачи, срок действия и
            наименование органа, выдавшего
            лицензию
            (для
            товаров и услуг, подлежащих лицензированию в соответствии с белорусским законодательством).
        </p>
        <p>
            <span class="indent_p">2.2.</span> Объявления от компаний и ИП, занимающихся торговлей товарами, также
            должны содержать следующую
            информацию:
        </p>

        <p>
            <span class="indent_p">2.2.1.</span> адрес местонахождения торговой точки (для интернет-магазинов - адрес
            сайта интернет-магазина);
        </p>
        <p>
            <span class="indent_p">2.2.2.</span> регистрационный номер в Торговом реестре.
        </p>

        <p>
            3. Требования к товарам, работам и услугам, размещаемым на ресурсе ДОМер.бел
        </p>
        <p>
            Товары, работы и услуги, о которых размещаются объявления, должны соответствовать требованиям
            законодательства
            Республики Беларусь. Размещая объявление о товарах, работах и услугах, которые подлежат обязательному
            подтверждению
            соответствия в Республике Беларусь, рекламодатель самостоятельно несет ответственность за наличие у него
            документов,
            подтверждающих соответствие товаров, работ и услуг требованиям технических и иных нормативных правовых
            актов.
        </p>

        <p>
            4. Объявления одинакового содержания. Не разрешается размещать сразу несколько объявлений об одном и том же
            товаре,
            работе или услуге. Прежде чем добавить новое объявление, следует сначала окончательно удалить старое. Также
            объявление об одном и том же товаре, работе или одной и той же услуге, оказываемой одним и тем же лицом, не
            разрешается размещать сразу в нескольких регионах и более чем в одной категории.
        </p>

        <p>
            5. Требования к фотографиям
        </p>

        <p>
            <span class="indent_p">5.1.</span> Добавляемые к объявлениям фотографии должны быть связаны с товаром,
            работой или услугой, описываемой в
            объявлении. Например, если вы продаете обувь, вы можете, в придачу к фотографии самой обуви, разместить фото
            обуви
            на ноге. А вот фото вашей любимой жены тут будет не к месту.
        </p>

        <p>
            <span class="indent_p">5.2.</span> Фотография товара должна изображать конкретный продаваемый экземпляр, в
            том виде, в котором он
            находился в
            момент подачи объявления. Так, например, если вы продаете мобильный телефон, то в объявлении должно быть
            фото
            вашего
            конкретного экземпляра, а не просто фото телефона той же модели и цвета, что и у вас. Не разрешается
            размещение
            фотографий, взятых из каталогов, с сайтов производителей или других сайтов.
        </p>

        <p>
            <span class="indent_p">5.3.</span> Одну и ту же фотографию можно использовать одновременно только в одном
            объявлении.
        </p>

        <p>
            <span class="indent_p">5.4.</span> На фотографии не должно быть ссылок на другие сайты, а также логотипов.
        </p>
        <p>
            <span class="indent_p">5.5.</span> В объявлениях о продаже купальных костюмов или нижнего белья не
            допускается размещение личных
            фотографий, а
            также фотографий моделей из каталогов в купальных костюмах или в нижнем белье.
        </p>
        <p>
            <span class="indent_p">5.6.</span> Фото и изображения не должны нарушать авторские права их владельца,
            фотографа или возможных моделей.
        </p>
        <p>
            <span class="indent_p">5.7.</span> На фото не должно быть элементов, которые можно расценить как
            оскорбительные, противозаконные или
            призывающие к
            насилию.
        </p>
        <p>
            <span class="indent_p">5.8.</span> Если на фото кроме вас изображены и другие люди, убедитесь в том, что они
            согласны на публикацию своих
            изображений. Если на фото изображено не принадлежащее вам имущество, то необходимо согласие владельца
            имущества
            на
            публикацию данной фотографии.
        </p>
        <p>
            <span class="indent_p">5.9.</span> Не допускается размещение в изображении контактных данных и
            регистрационных знаков, относящихся к
            третьим
            лицам.
        </p>
        <p>
            <span class="indent_p">5.10.</span> Не допускается размещение фотографий и прочих изображений эротического и
            порнографического характера,
            изображений с сексуальным подтекстом, в том числе изображений обнажённых интимных частей тела, людей в
            прозрачной
            или откровенной одежде, полностью обнажённых либо снимающих одежду людей.
        </p>
        <p>
            <span class="indent_p">5.11.</span> Не допускается использование изображений, обработанных в специальных
            редакторах (например, помещенных
            в
            цветную рамку, с заливкой фона, с размещением текста поверх изображения товара и пр.).
        </p>
        <p>
            6. Логотип предприятия нельзя использовать в качестве картинки в иных местах, кроме как в объявлениях из
            рубрики
            услуг, или в случаях, если предметом продажи является все предприятие. Фотографии, взятые из других
            объявлений,
            запрещается использовать без согласия их автора.
        </p>
        <p>
            7. Запрещенные товары и услуги. ДОМер.бел отклоняет объявления о товарах (работах, услугах), продажа
            (выполнение,
            оказание) и/или реклама которых запрещена законодательством Республики Беларусь. ДОМер.бел также
            устанавливает
            ограничения в отношении товаров, работ и услуг определенного типа.
        </p>
        <p>
            Подробную информацию о товарах и услугах, которые не подлежат размещению на ресурсе ДОМер.бел ЗАПРЕЩЕНО:
        </p>

        <p>
            Содержащие ненормативную лексику, а также оскорбительные высказывания, в т.ч. расистского и религиозного
            характера.
        </p>
        <p>
            С призывом к насилию и противоправным действиям.
        </p>
        <p>
            О дискриминации по национальному, расовому, религиозному, половому и другим признакам.
        </p>
        <p>
            Нарушающие общепринятые нормы морали и нравственности.
        </p>
        <p>
            О порнографии, в т.ч. фото порнографического характера.
        </p>
        <p>
            О мошенничестве и вымогательстве.
        </p>
        <p>
            С просьбой о предоплате, почтовой пересылке наложенным платежом или в конверте денежных сумм, а также других
            вложений.
        </p>
        <p>
            О приглашении на работу и учебу за границей.
        </p>
        <p>
            Об оказании медицинских услуг частными лицами.
        </p>
        <p>
            О покупке-продаже:
            иностранной валюты;
        </p>
        <p>
            государственных наград Беларуси и стран СНГ;
        </p>
        <p>
            персональных документов, а также бланков этих документов;
        </p>
        <p>
            всех видов оружия и средств активной защиты;
        </p>
        <p>
            наркотических и отравляющих веществ;
        </p>
        <p>
            спиртных напитков, табачных изделий;
        </p>
        <p>
            человеческих органов;
        </p>
        <p>
            продаже лекарственных препаратов и биологически активных пищевых добавок;
        </p>
        <p>
            продаже ювелирных изделий и драгоценных металлов; в списке запрещенных товаров и услуг.
        </p>
        <p>
            8. Запрет на размещение определенных объявлений
        </p>
        <p>
            <span class="indent_p">8.1.</span> Запрещается размещать объявления, содержащие:
            недобросовестную, недостоверную, неэтичную, скрытую рекламу, а также информацию, наносящую вред деловой
            репутации
            конкурентов рекламодателя;
        </p>
        <p>
            пропаганду или призыв к насилию, жестокости и совершению противоправных действий;
        </p>
        <p>
            обещание или гарантию, утверждающие будущую эффективность (доходность) рекламируемого вида деятельности;
            информацию, вводящую в заблуждение потребителей относительно качества, количества, состава, способа
            изготовления
            и
            иных характеристик продукции (товаров, работ, услуг);
        </p>
        <p>
            просьбы о предварительной оплате, почтовой пересылке наложенным платежом или в конверте денежных сумм, а
            также
            иных
            вложений;
        </p>
        <p>
            ненормативную лексику, а также оскорбительные высказывания, в том числе расистского и религиозного
            характера, а
            также призывы к дискриминации по национальному, расовому, половому или иным признакам;
        </p>
        <p>
            нарушение общепринятых норм морали и нравственности;
            информацию, которая может прямо или косвенно повлечь к разглашению сведений, составляющих государственные
            секреты
            Республики Беларусь;
        </p>
        <p>
            требования к возрасту и/или месту жительства работника в объявлениях о вакансиях.
        </p>
        <p>
            <span class="indent_p">8.2.</span> Не разрешается размещать объявления маркетингового характера, то есть
            объявления, рекламирующие не
            конкретный
            предлагаемый товар или услугу, а комплекс товаров и услуг в целом.
        </p>
        <p>
            <span class="indent_p">8.3.</span> Не разрешается размещать объявления о знакомствах.
        </p>
        <p>
            <span class="indent_p">8.4.</span> ДОМер.бел вправе самостоятельно, с учетом требований и критериев,
            установленных законодательством
            Республики
            Беларусь, решать вопрос об отнесении объявления к запрещенной в настоящем разделе рекламе. ДОМер.бел также
            вправе
            принять решение об отказе в размещении отдельных объявлений в случае, если сочтет их содержание
            несоответствующим
            законодательству Республики Беларусь.
        </p>
        <p>
            9. Изменение и редактирование объявлений
        </p>
        <p>
            <span class="indent_p">9.1.</span> Администрация ресурса ДОМер.бел оставляет за собой право:

            размещать или отклонять объявления;

            определять, какое объявление не соответствует настоящим Правилам;

            удалять объявления, если они не соответствуют правилам размещения объявлений на сайте, без предварительного

            уведомления и объяснения причин;

            изменять требования к содержанию и условиям размещения объявлений;

            изменять содержание и оформление объявлений в соответствии с требованиями, указанными в настоящих Правилах;

            редактировать объявления в целях придания им качеств, удобных для чтения;

            лишать конкретного пользователя права на размещение объявлений в случае систематического нарушения данным
            пользователем настоящих Правил.
        </p>
        <p>
            <span class="indent_p">9.2.</span> Замена товара, работы или услуги в объявлении. При изменении или
            обновлении объявления не разрешается
            заменять
            товар, работу или услугу, описываемую в объявлении, на иной товар, работу или услугу. При отказе в
            размещении
            объявления по причине того, что объявление не соответствует правилам, пользователю предлагается возможность
            разместить новое объявление.
        </p>

        <p>
            10. Общие условия
        </p>
        <p>
            <span class="indent_p">10.1.</span> Ответственность. Тот, кто подает объявление, несет полную
            ответственность за свое объявление.
            ДОМер.бел не
            отвечает за качество рекламируемых в объявлении товаров, работ или услуг. Рекламодатель коммерческого
            объявления
            самостоятельно несет ответственность за наличие у него необходимых согласований, разрешений, лицензий,
            сертификатов
            и/или иных документов, необходимых для осуществления соответствующего вида деятельности. Тот, кто подает
            объявление,
            дает согласие на размещение содержания объявления на сетевых страницах партнеров по сотрудничеству ДОМер.бел
            на
            основе тех же самых Правил, что действуют для объявления при его размещении на ДОМер.бел. Рекламодатель
            гарантирует,
            что его объявление не нарушает авторские права, интеллектуальные права или иные права третьих лиц. Если в
            отношении
            размещенного объявления ресурсу ДОМер.бел будет предъявлена претензия третьих лиц в связи с нарушением
            законодательства Республики Беларусь фактом размещения объявления, то ДОМер.бел вправе удалить
            соответствующее
            объявление. Кроме того, рекламодатель несет личную ответственность за такое нарушение и обязуется освободить
            ДОМер.бел от ответственности по возмещению убытков или расходов в связи с таким нарушением.
        </p>
        <p>
            <span class="indent_p">10.2.</span>Водяные знаки. Фотографии размещаются с водяным знаком. Таким способом
            ДОМер.бел препятствует
            использованию
            фотографий без разрешения владельца объявления в иных целях.
        </p>
        <p>
            <span class="indent_p">10.3.</span> Личные данные и конфиденциальность. ДОМер.бел оказывает помощь
            правоохранительным органам и другим
            уполномоченным лицам, занимающимся расследованием нарушений, обнаруженных в объявлениях, предоставляя
            необходимую
            информацию в соответствии с законодательством Республики Беларусь и нашей Политикой конфиденциальности.
            Лицо,
            подавшее объявление или ответившее на объявление, можно установить с помощью поставщика интернет-услуг,
            используя
            для этого, например, зарегистрированный IP-адрес. Подробнее с видами личных данных пользователей, которые мы
            обрабатываем, принципами и целями обработки личных данных пользователей, порядком предоставления личных
            данных
            третьей стороне, редактирования и удаления личных данных, а также с прочими положениями, касающимися
            обработки
            личных данных пользователей, возможно ознакомиться в нашей Политике конфиденциальности.
        </p>
        <p>
            <span class="indent_p">10.4.</span> Электронная почта. E-mail является обязательным для регистрации и
            размещения объявления. E-mail не
            отображается на странице просмотра объявления.
        </p>
        <p>
            11. Платные услуги
        </p>
        <p>
            <span class="indent_p">11.1.</span> Условия предоставления. Пользователи ресурса ДОМер.бел могут
            воспользоваться платными услугами для
            повышения
            эффективности размещенных ими объявлений. ДОМер.бел предоставляет платные услуги при условии, что
            пользователь
            разместил объявление на ресурсе ДОМер.бел и тем самым согласился с настоящими правилами и условиями
            использования
            ресурса.
        </p>
        <p>
            <span class="indent_p">11.2.</span>Виды платных
        </p>
        <p>
            <span class="indent_p">11.2.</span> Сделать VIP-объявлением – это услуга, которая заключается в размещении
            определенного объявления в
            отдельной
            части сайта один раз на 8 дней. После поднятия объявление остается вверху списка до тех пор, пока не
            появятся
            новые
            объявления в выбранной категории.
        </p>
        <p>
            <span class="indent_p">11.3.</span> Выделить объявление – это услуга, которая заключается в выделении
            определенным цветом объявления в
            течении 7 дней.
        </p>

        <p>
            <span class="indent_p">11.4.</span> Спецразмещение – это услуга, которая заключается в размещении
            определенного объявления в верх общего
            списка
            объявлений один раз в день на 10 дней.
        </p>
        <p>
            <span class="indent_p">11.5.</span> Поднять в поиске – это услуга, которая заключается в поднятии
            определенного объявления в верх общего
            списка
            объявлений один раз.
        </p>
        <p>
            <span class="indent_p">11.6.</span> Оплата. Пользователь производит оплату услуг в порядке, указанном на
            странице с выбранным способом
            оплаты.
            Порядок оплаты обновления объявления с помощью Яндекс деньги. Пополнение происходит путем пополнения своего
            кошелька
            в личном кабинете. Средства используются для поднятия объявлений или присвоение объявлению ВИП статуса.
        </p>

        <p>
            <span class="indent_p">11.7.</span> Ответственность. Оплачивая услугу, пользователь выражает свое желание
            воспользоваться ей. В случае
            отказа
            от
            предоставления услуги после ее оплаты денежные средства не возвращаются. Вся ответственность за верность
            буквенно-числовой информации, вводимой в процессе оплаты услуг, лежит на пользователе. Администрация ресурса
            ДОМер.бел не несет ответственности в случае ввода пользователем неверной информации при оплате услуг.
            Уплаченные
            денежные средства при этом не возвращаются. ДОМер.бел также не возвращает денежные средства, оплаченные за
            рекламу
            объявлений, нарушающих правила ресурса. При выявлении несоответствия рекламируемого с помощью платных услуг
            объявления настоящим правилам, объявление будет удалено с ресурса, а сумма, затраченная на платную услугу,
            возвращена не будет.
        </p>

        <p>
            12. Защита прав интеллектуальной собственности
        </p>
        <p>
            <span class="indent_p">12.1.</span> Ограничения по использованию информации. Весь материал, включая
            содержание, программное обеспечение и
            услуги,
            содержащийся на ресурсе ДОМер.бел, является собственностью физического лица Бугук Жанны Марьяновны. Все
            права
            интеллектуальной собственности, включая авторские права, права на товарные знаки и знаки обслуживания,
            фирменные
            наименования и иные отличительные бренды, размещенные на ресурсе, принадлежат физическому лицу Бугук Жанне
            Марьяновне. Никакой материал, размещенный на ресурсе ДОМер.бел, не может быть скопирован, тиражирован,
            переиздан,
            установлен, размещен, передан, сохранен или распространен в каком-либо виде. Единственное исключение
            составляют
            «загрузка» (передача данных с использованием информационных и технических средств связи) для копирования
            материала
            исключительно в личных целях, при условии, что: (a) все авторские права сохраняются, (б) материал не
            изменяется,
            (в)
            материал не используется для ассоциации с нашими товарами, услугами и брендами, и (г) не загружается в
            качестве
            материала для баз данных. Использование материала на каком-либо ином сайте или компьютерной сети строго
            запрещено.
        </p>
        <p>
            <span class="indent_p">12.2.</span> Передача сообщений пользователями. Любая информация, относящаяся к
            посланным сообщениям или иной
            информации
            (далее собирательно именуемые «Информация»), принадлежит нам на праве собственности. ДОМер.бел не связывают
            какие-либо обязательства о конфиденциальности, за исключением нашей Политики конфиденциальности, и ДОМер.бел
            не
            может быть привлечен к ответственности за общественное разглашение информации. Несмотря на вышеизложенное,
            ДОМер.бел
            принадлежат все исключительные имущественные права в отношении Информации, и ДОМер.бел имеет право
            использовать
            данную информацию в любых целях, коммерческих и иных, без уплаты какого-либо вознаграждения лицу, которое
            предоставило соответствующую Информацию, или какому-либо иному лицу на основании положений Политики
            конфиденциальности и законодательства Республики Беларусь. Отправитель Информации гарантирует, что он/она
            обладает
            всеми правами, необходимыми для передачи Информации, а также соглашается с условиями Политики
            конфиденциальности,
            применяемой в отношении обработки личных данных Отправителя Информации.
        </p>

    </div>
{% endblock %}