{% extends "profile_user.html" %}
{% load static %}
{% block css2 %}
{% endblock css2 %}
{% block title %}
{% endblock title %}

{% block action %}
        <div class="main__info-action">
            <p>Отмеченные:</p>
            <button name="restore_ads" class="submit__btn">Восстановить</button>
        </div>
{% endblock action %}
    {% block paginator %}
    <div class="paginator">
        <div class="paginator_wrapper">
            <nav class="list_pages">
                <ul>
                    {% if page_obj.has_previous %}
                    <li class="">
                        <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_other_pages %}
                    {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                    <li class="page_num page_num_selected">{{ page }}</li>
                    {% elif page >= page_obj.number|add:-5 and page <= page_obj.number|add:5 %}
                    <li class="page_num">
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="">
                        <a href="?page={{ page_obj.next_page_number }}">></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endblock paginator %}
{% block js %}
<script src="{% static 'js/profile/selectAdvertisement.js' %}"></script>
{% endblock js %}
