{% extends 'base.html' %} 
{% load static %}
{% load mptt_tags %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock css %} 
{% block search %}{% endblock search %}
{% block content %}
<section class="map">
  <ul class="map__list">
    {% recursetree nodes %}
        <li>
            <a href="#">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="map__list-children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</section>
{% endblock %} 
{% block js %}
{% endblock js %}
