{% extends 'base_for_personal_account.html' %}

{% load static %}

{% block outgoing_messages %}
    <title>Переписка</title>
    <div class="wrapper">
        <div class="container">
            <div class="line"></div>
            <div class="body">
                <nav class="personal_account_navigation">
                    <ul>
                        <li class="wallet">
                            <p class="wallet_title">В Вашем кошельке</p>
                            <p class="wallet_amount"> 0,00 руб.</p>
                        </li>
                        <li>
                            <a href="{% url 'home' %}" class="green_item">Выход</a>
                        </li>
                        <li>
                            <a href="{% url 'user_data' %}">Контактные данные</a>
                        </li>
                        <li>
                            <a href="{% url 'personal_account' %}">Мои объявления</a>
                        </li>
                        <li>
                            {% if request.user.store %}
                                <a href="{% url 'my_store' %}">Мой магазин</a>
                            {% else %}
                                <a href="{% url 'add_store' %}" class="red_item">Добавить магазин</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'incoming_messages' %}">Входящие сообщения</a>
                        </li>
                        <li>
                            <a href="{% url 'outgoing_messages' %}">Исходящие сообщения</a>
                        </li>
                        <li>
                            <a href="{% url 'sent_messages' %}">Отправленные сообщения</a>
                        </li>
                        <li>
                            <a href="#">История платежей</a>
                        </li>
                        <li>
                            <a href="#" class="red_item">Пополнить кошелек</a>
                        </li>
                    </ul>
                </nav>
                <div class="admin_message">
                    <a href="{% url 'admin_messages' %}">Написать письмо администратору</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}