{% extends 'base_for_personal_account.html' %}

{% load static %}

{% block table %}
    <div class="wrapper">
        <div class="container">
            <main>
                <section class="search_table">
                    <nav class="table_topics_search_location">
                        <select name="#" id="#" class="table_topics slct">
                            <option value="#">Все разделы</option>
                        </select>
                        <input type="text" placeholder="Поиск по тексту" class="table_search">
                        <select name="#" id="#" class="table_location slct">
                            <option value="#">Любое расположение</option>
                        </select>
                    </nav>

                    <div class="search_checkbox_button">
                        <nav class="search_ads">
                            <input type="text" placeholder="№ объявления">
                        </nav>
                        <div class="checkbox_list">

                            <input id="1" type="checkbox">
                            <label for="1" class="checkbox_label">В заголовках</label>

                        </div>
                        <a href="#" class="button_search">
                            <img src="{% static 'img/poisk.png' %}" alt="{% static 'img/poisk.png' %}">
                        </a>
                    </div>
                </section>
            </main>
        </div>
    </div>
{% endblock %}
{% block personal_account_body %}
    <div class="personal_account_body">
        <div class="wrapper">
            <div class="container">
                <div class="body">
                    <nav class="personal_account_navigation">
                        <ul>
                            <li class="wallet">
                                <p class="wallet_title">В Вашем кошельке</p>
                                <p class="wallet_amount"> 0,00 руб.</p>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="green_item">Выход</a>
                            </li>
                            <li>
                                <a href="#">Контактные данные</a>
                            </li>
                            <li>
                                <a href="{% url 'pa' %}">Мои объявления</a>
                            </li>
                            <li>
                                <a href="#" class="red_item">Добавить магазин</a>
                            </li>
                            <li>
                                <a href="#">Входящие сообщения</a>
                            </li>
                            <li>
                                <a href="#">Исходящие сообщения</a>
                            </li>
                            <li>
                                <a href="#">Отправленные сообщения</a>
                            </li>
                            <li>
                                <a href="#">История платежей</a>
                            </li>
                            <li>
                                <a href="#" class="red_item">Пополнить кошелек</a>
                            </li>
                        </ul>
                    </nav>
                    <div class=ads_status>
                        <a href="#" class="status_active">Активные (0)</a>
                        <a href="#" class="status_archive">Архивные (0)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


