{% extends "profile_user.html" %} 
{% load static %} 
{% block css2 %}
<link rel="stylesheet" href="{% static 'css/profileShop.css' %}">
{% endblock css2 %}
{% block title %}
{% endblock title %}
{% block search %}
{% endblock search %}
  {% block mainInfo %}
  <div class="main__wrapper">
    <ul class="main__shop-list">
      {% for store in stores %}
      <li>
        <article class="main__shop-list-item">
         <div class="main__shop-list-item-text">
          <h3>
            {{ store.title }}
          </h3>
          <div class="main__shop-list-item-edit">
            <a href="{% url 'users:edit_store' store.id %}">
              Редактировать магазин
            </a>
            <a href="{% url 'users:delete_store' store.id %}">
              Удалить магазин
            </a>
          </div>
          <p class="main__shop-list-item-registration">
            Дата регистрации: <span>{{ store.date_of_create }}</span>
          </p>
          <p class="main__shop-list-item-active">
            Магазин активен до:
            <span>
              {{ store.date_of_deactivate }}
              <span>
                (Осталось {{ store.get_days_till_expiration }} дн.)
              </span>
            </span>
          </p>
          <a href="{% url 'store_by_title' store.slug  %}" class="main__shop-list-item-shop-link">
            Страница магазина
          </a>
          <ul class="main__shop-list-item-about">
            <li>
              <h4>
                Название
              </h4>
              <p>
                {{ store.title }}
              </p>
            </li>
            <li>
              <h4>
                Раздел
              </h4>
              <p>
                {{ store.category }}
              </p>
            </li>
            <li>
              <h4>
                Регион
              </h4>
              <p>
                {{store.region.parent}}
              </p>
            </li>
            <li>
              <h4>
                Город / район
              </h4>
              <p>
                {{ store.region }}
              </p>
            </li>
            <li>
              <h4>
                Описание
              </h4>
              <p>
                {{ store.description }}
              </p>
            </li>
            {% if store.url %}
              <li>
                <a href="{{ store.url }}">
                  Сайт магазина
                </a>
              </li>
            {% endif %}
          </ul>
         </div>
         <div class="main__shop-list-item-img">
          <img src="{% if store.logo_image %}{{ store.logo_image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}" alt="{{ store.title }}">
         </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endblock mainInfo %}
{% block js %}
<script src="{% static 'js/profile/storeLogo.js' %}"></script>
<script src="{% static 'js/profile/region.js' %}"></script>
{% endblock js %}
