{% extends "profile_user.html" %} 
{% load static %} 
{% block css2 %}
<link rel="stylesheet" href="{% static 'css/publications_add.css' %}">
{% endblock css2 %}
{% block title %}
{% endblock title %}
{% block search %}
{% endblock search %}
  {% block mainInfo %}
  <form class="main__info" method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}
      {% if form_publication.non_field_errors %}
            <div class="form-error">{{ form_publication.non_field_errors }}</div>
        {% endif %}
      {{ form_publication.media }}
        {% for f in form_publication %}
        <label for="{{ f.id_for_label }}" class="{% if f.errors %}label__error{% endif %}">
            <p class="form-label">
                {% if f.field.required %}
                <span>*</span>
                {% endif %}
                {{f.label}}:
            </p>
            {{ f }}
            {% if f.errors %}
                <div class="form-error">{{ f.errors }}</div>
            {% endif %}
        </label>
      {% endfor %}
      <button class="submit__btn" id="add_publication">
        Разместить публикацию
      </button>
  </form>
  {% endblock mainInfo %}
{% block js2 %}
<script src="{% static 'js/profile/storeLogo.js' %}"></script>
{% endblock js2 %}

