{% extends "profile_user.html" %} 
{% load static %} 
{% block css2 %}
<link rel="stylesheet" href="{% static 'css/profileFavorites.css' %}">
{% endblock css2 %}
{% block title %}
{% endblock title %}
{% block search %}
{% endblock search %}
{% block mainInfo %}
<div class="main__info">
  <ul class="main__info-favorites-list">
    {% for card in favorites_list %}
    <li class="default__item">
        <article class="advertisement__list-item {% if card.highlight_ad %} active__item {% endif %}" {% if user.is_authenticated %}data-id="{{ card.id }}"{% endif %}>
            <a href="{% url 'advertisement_details' card.slug %}" class="advertisement__list-item-img">
                <img src="{% if card.preview_image %} {{ card.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                     alt="{{ card.category }}">
            </a>
            <div class="advertisement__list-item-about">
                <h3 class="advertisement__list-item-title">
                    <a href="{% url 'advertisement_details' card.slug %}">
                        {{ card.title }}
                    </a>
                </h3>
                <div class="advertisement__list-item-about-favorites{% if card.id in user.userfavorites.favorites %} advertisement__favorites-active{% endif %}"></div>
                <p class="advertisement__list-item-price">
                    {% if card.price %}
                        {{ card.price|floatformat }} руб.
                        {% else %} Договорная
                    {% endif %}
                </p>
                <ul class="advertisement__list-item-about-text-list">
                    <li>
                        {{ card.category }}
                    </li>
                    <li>
                        {{ card.bearer }}
                    </li>
                    <li>
                        {{ card.region }}
                    </li>
                    <li>
                        {% if card.date_of_create.date == date_today %}
                            Сегодня
                        {% elif card.date_of_create.date == date_yesterday %}
                            Вчера
                        {% else %}
                            {{ card.date_of_create|date:"d b. Y H:i" }}
                        {% endif %}
                    </li>
                </ul>
                {% if card.vip or card.special_accommodation or card.highlight_ad or card.raise_in_search %}
                <ul class="advertisement__list-item-action">
                    {% if card.special_accommodation %}
                        <li class="advertisement__list-item-action-item">
                            <img src="{% static 'img/special.png' %}" alt="">
                        </li>
                    {% endif %}
                    {% if card.vip %}
                        <li class="advertisement__list-item-action-item">
                            <img src="{% static 'img/VIP.png' %}" alt="">
                        </li>
                    {% endif %}
                    {% if card.highlight_ad %}
                        <li class="advertisement__list-item-action-item">
                            <img src="{% static 'img/highlight.png' %}" alt="">
                        </li>
                    {% endif %}
                    {% if card.raise_in_search %}
                        <li class="advertisement__list-item-action-item">
                            <img src="{% static 'img/up.png' %}" alt="">
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </article>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock mainInfo %}
{% block js2 %}
<script src="{% static 'js/profile/storeLogo.js' %}"></script>
<script src="{% static 'js/profile/region.js' %}"></script>
{% endblock js2 %}
