{% extends "profile_user.html" %} 
{% load static %} 
{% block css2 %}
<link rel="stylesheet" href="{% static 'css/profileData.css' %}">
{% endblock css2 %}
{% block title %}
{% endblock title %}
{% block search %}
{% endblock search %}
  {% block mainInfo %}
  <div class="form__wrapper">
    <h3>
        Контактные данные пользователя
      </h3>
     <form method="POST" action="" class="main__info">
      {% csrf_token %}
      {% if edit_contact_data_form.non_field_errors %}
      <div class="form-error">{{ edit_contact_data_form.non_field_errors }}</div>
      {% endif %}
      {% for field in edit_contact_data_form %}
      <label for="{{ field.id_for_label }}">
        <p class="form-label">
          {{field.label}}:
        </p>
        {{ field }}
      </label>
      {% if field.errors %}
      <div class="form-error">{{ field.errors }}</div>
      {% endif %}
      {% endfor %}
      <button class="submit__btn" name="edit_contact_data">Изменить</button>
    </form>
    <form method="POST" class="main__info" action="" novalidate>
      {% csrf_token %}
      {% if change_pass_form.non_field_errors %}
      <div class="form-error">{{ change_pass_form.non_field_errors }}</div>
      {% endif %}
      {% for field in change_pass_form  %}
      <label for="{{ field.id_for_label }}">
        <p class="form-label">
          {{field.label}}:
        </p>
        <div class="form__fields">
          <div class="views">
            <div class="views__show views__show-active">
                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5Z" fill="gray"></path></svg>
            </div>
            <div class="views__hide">
                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style=""><path fill-rule="evenodd" clip-rule="evenodd" d="M19.6172 21.4344L17.3849 19.2021C15.7703 20.0317 13.9401 20.5 12 20.5C7 20.5 2.73 17.39 1 13C1.91081 10.6887 3.52566 8.73227 5.58042 7.39765L3.00018 4.81741L4.41439 3.4032L21.0314 20.0202L19.6172 21.4344ZM12 18C13.1725 18 14.2507 17.5964 15.1034 16.9206L13.6732 15.4904C13.1952 15.8122 12.6195 16 12 16C10.3431 16 9 14.6568 9 13C9 12.3804 9.18779 11.8048 9.50956 11.3268L8.07939 9.89662C7.40357 10.7493 7 11.8275 7 13C7 15.7614 9.23858 18 12 18ZM16.9972 13.1797L20.5991 16.7817C21.6226 15.6946 22.4431 14.4137 23.0002 13C21.2702 8.61 17.0002 5.5 12.0002 5.5C11.1665 5.5 10.3531 5.58646 9.56836 5.75091L11.8206 8.00314C11.8803 8.00103 11.9402 7.99997 12.0003 7.99997C14.7618 7.99997 17.0003 10.2385 17.0003 13C17.0003 13.0601 16.9993 13.1201 16.9972 13.1797Z" fill="gray"></path></svg>
            </div>
          </div>
          {{ field }}
        </div>
      </label>
      {% if field.errors %}
      <div class="form-error">{{ field.errors }}</div>
      {% endif %}
      {% endfor %}
      <button class="submit__btn" name="change_password">Сохранить</button>
    </form>
  </div>
  {% endblock mainInfo %}
{% block js %}
{% endblock js %}
