{% extends "base.html" %}
{% load static %}
{% block css %}
{% block css2 %}
{% endblock css2 %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block title %}
{% endblock title %}
{% block search %}
<search class="main__search search__profile">
    <form class="main__search-form" action="{% url 'users:personal_account_search_results' %}" method="GET">
        <fieldset class="main__search-form-item region">
            <select name="category" class="main__search-form-item-category">
                <option value="">Все разделы</option>
                {% for category in category_list %} {% if category.level == 0 %}
                <option value="{{ category.id }}" data-fetchid="{{ category.id }}">
                    {{ category }}
                </option>
                {% endif %} {% endfor %}
            </select>
            <input type="text" name="" placeholder="Поиск по тексту"/>
            <select name="" class="main__search-form-item-area">
                <option value=""></option>
            </select>
            <select name="region" class="main__search-form-item-region">
                <option value="">Любое расположение</option>
                {% for region in region_list %} {% if region.level == 0 %}
                <option value="{{ region.id }}" data-fetchid="{{ region.id }}">
                    {{ region.area }}
                </option>
                {% endif %} {% endfor %}
            </select>
        </fieldset>
        <fieldset class="main__search-form-item labels">
            <div class="main__search-form-item-label-wrap">
                <input type="text" name="id" placeholder="№ объявления">
                <label for="heading">
                    <input type="checkbox" name="only_title" id="heading"/>
                    <p>в заголовках</p>
                </label>
            </div>
            <button>Искать</button>
        </fieldset>
        <fieldset class="main__search-form-item fields"></fieldset>
    </form>
</search>
{% endblock search %}
{% block content %}
<section class="profile">
    {% block aside %}
    <aside class="profile__aside">
        <nav>
            <ul class="profile__aside-nav-list">
                <li class="profile__aside-nav-list-item exit">
                    <a href="#">
                        Выход
                    </a>
                </li>
                <li class="profile__aside-nav-list-item">
                    <a href="{% url 'users:user_data' %}">
                        Контактные данные
                    </a>
                </li>
                <li class="profile__aside-nav-list-item">
                    <a href="{% url 'users:personal_account' %}">
                    Мои объявления
                    </a>
                </li>
                {% if user.entity %}
                <li class="profile__aside-nav-list-item priority">
                    <a href="{% url 'users:add_store' %}">
                    Добавить магазин
                    </a>
                </li>
                {% if user.store_set %}
                <li class="profile__aside-nav-list-item priority">
                    <a href="{% url 'users:my_store' %}">
                    Мои магазины
                    </a>
                </li>
                {% endif %}
                {% endif %}
                <li class="profile__aside-nav-list-item">
                    <a href="#">
                        Диалоги
                    </a>
                </li>
                <li class="profile__aside-nav-list-item">
                    <a href="#">
                        Написать администратору
                    </a>
                </li>
                <li class="profile__aside-nav-list-item">
                    <a href="#">
                        История платежей
                    </a>
                </li>
                <li class="profile__aside-nav-list-item priority">
                    <a href="#">
                        Пополнить кошелек
                    </a>
                </li>
                {% if user.entity %}
                <li class="profile__aside-nav-list-item">
                    <a href="{% url 'users:user_all_publications' %}">
                        Мои публикации
                    </a>
                </li>
                {% endif %}
                <li class="profile__aside-nav-list-item">
                    <a href="{% url 'users:favorites' %}">
                        Избранное
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    {% endblock aside %}
    {% block mainInfo %}
    <form method="POST" class="main__info" action="{% url 'users:delete_or_archive_ads' %}">
        {% csrf_token %}
        {% block navigation %}
        <nav class="main__info-nav">
            <ul class="main__info-list">
                <li>
                    <a href="{% url 'users:personal_account' %}" class="advertisement__active">
                        Активные ({{ active_ads_quantity }})
                    </a>
                </li>
                <li>
                    <a href="{% url 'users:inactive_adds' %}" class="advertisement__archive">
                        Архивные ({{ inactive_ads_quantity }})
                    </a>
                </li>
            </ul>
            {% if page_obj.object_list %}
            <label class="main__info-advertisement-nav-select-all" for="selectAll">
                <input type="checkbox" name="" id="selectAll">
                <p>
                    Выделить все объявления
                </p>
            </label>
            {% endif %}
        </nav>
        {% endblock navigation %}
        {% if page_obj.object_list %}
        <ul class="main__info-advertisement-list">
            {% for advertisement in page_obj %}
            <li>
                <article class="main__info-advertisement-list-item">
                    <ul class="main__info-advertisement-list-item-achive">
                        <li>
                            <input type="checkbox" name="ads_checkbox" value="{{advertisement.id}}">
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'img/VIP.png' %}" alt="vip" title="Сделать VIP-объявлением">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'img/highlight.png' %}" alt="" title="Выделить объявление">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'img/special.png' %}" alt="" title="Спецразмещение">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static 'img/up.png' %}" alt="" title="Поднять в поиске">
                            </a>
                        </li>
                    </ul>
                    <div class="main__info-advertisement-list-item-about">
                        <p class="main__info-advertisement-list-item-about-date">
                            {% if advertisement.date_of_create.date == date_today %}
                            Сегодня
                            {% elif advertisement.date_of_create.date == date_yesterday %}
                            Вчера
                            {% else %}
                            {{ advertisement.date_of_create|date:"d b. Y" }}
                            {% endif %}
                        </p>
                        <p class="main__info-advertisement-list-item-about-time">
                            {{ advertisement.date_of_create|date:"H:i" }}
                        </p>
                        <p class="main__info-advertisement-list-item-about-remained">
                            Осталось {{ advertisement.get_days_till_expiration }} дн.
                        </p>
                        <a href="{% url 'editing_an_ad' advertisement.id %}"
                           class="main__info-advertisement-list-item-about-edit">
                            редактировать
                        </a>
                    </div>
                    <a href="{% url 'advertisement_details' advertisement.slug %}"
                       class="main__info-advertisement-list-item-img">
                        <img src="{% if advertisement.preview_image %}{{ advertisement.preview_image.url }}{% else %}{% static 'no_image.jpg' %}{% endif %}"
                             alt="">
                    </a>
                    <div class="main__info-advertisement-list-item-title-wrap">
                        <h3>
                            <a href="{% url 'advertisement_details' advertisement.slug %}">{{ advertisement.title }}</a>
                        </h3>
                        <p>
                            {% if advertisement.price %}
                                {{ advertisement.price|floatformat }} руб.
                                {% else %} Договорная
                            {% endif %}
                        </p>
                        <p>
                            {{ advertisement.category.title }}
                        </p>
                        <p>
                            {{ advertisement.region.area }}
                        </p>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="main__info-not-found">
            Объявлений не найдено
        </p>
        {% endif %}
        {% if page_obj.object_list %}
        {% block action %}
        <div class="main__info-action">
            <p>Отмеченные:</p>
            <button name="delete_ads" class="submit__btn">Удалить</button>
            <button name="archive_ads" class="submit__btn">Поместить в архив</button>
        </div>
        {% endblock action %}
        {% endif %}
        {% block paginator %}
        <div class="paginator">
            <div class="paginator_wrapper">
                <nav class="list_pages">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li class="">
                            <a href="?page={{ page_obj.previous_page_number }}"><</a>
                        </li>
                        {% endif %}
                        {% if page_obj.has_other_pages %}
                        {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        <li class="page_num page_num_selected">{{ page }}</li>
                        {% elif page >= page_obj.number|add:-5 and page <= page_obj.number|add:5 %}
                        <li class="page_num">
                            <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="">
                            <a href="?page={{ page_obj.next_page_number }}">></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endblock paginator %}
    </form>
    {% endblock mainInfo %}
</section>
{% endblock content %}
{% block js %}
<script src="{% static 'js/profile/selectAdvertisement.js' %}"></script>
<script src="{% static 'js/profile/errors.js' %}"></script>
{% block js2 %}{% endblock js2 %}
{% endblock js %}
