{% extends 'base.html' %} 
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/publications.css' %}">
{% endblock css %} 
{% block search %}
<search class="main__search search__profile">
  <form class="main__search-form">
    <fieldset class="main__search-form-item">
      <input type="text" name="text_search" placeholder="Поиск по тексту">
    </fieldset>
    <fieldset class="main__search-form-item labels">
      <div class="main__search-form-item-label-wrap">
        <label for="heading">
            <input type="checkbox" name="only_title" id="heading" />
            <p>Только в заголовках</p>
        </label>
      </div>
      <button>Искать</button>
  </fieldset>
  </form>
</search>
{% endblock search %}
{% block content %}
<section class="section_publications">
  <div class="publications_count">
      <p>Найдено записей: {{ publications.count }} </p>
  </div>
  <ul class="publications__list">
      {% for publication in publications %}
      <li>
        <article class="publications__list-item">
          <a href="{% url 'publication_by_slug' publication.slug %}" class="article__date">
            18 июля 2021 г.
            20:42	
          </a>
          <a href="{% url 'publication_by_slug' publication.slug %}" class="article__img">
            <img src="{{ publication.preview_image.url }}" alt="">
          </a>
          <div class="article__about">
            <h3>
              <a href="{% url 'publication_by_slug' publication.slug %}">
                {{ publication.title }}
              </a>
            </h3>
            <p>
              {{ publication.announcement|safe }}
            </p>
          </div>
        </article>
    </li>
      {% endfor %}
  </ul>
</section>
{% endblock %} 
{% block js %}
{% endblock js %}
