{% extends 'base.html' %} 
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/publications.css' %}">
{% endblock css %} 
{% block search %}
<search class="main__search search__profile">
  <form class="main__search-form" method="GET" action="{% url 'publication_search_result' %}">
    <fieldset class="main__search-form-item">
      <input type="text" name="text_search" placeholder="Поиск по тексту">
    </fieldset>
    <fieldset class="main__search-form-item labels">
      <div class="main__search-form-item-label-wrap">
        <label for="heading">
            <input type="checkbox" name="only_title" id="heading" />
            <p>Только в заголовках</p>
        </label>
      </div>
      <button>Искать</button>
  </fieldset>
  </form>
</search>
{% endblock search %}
{% block content %}
{% if publications.object_list %}
{% block mainInfo %}
<section class="section_publications">
  <div class="publications_count">
      <p>Найдено записей: {{ publications_count }} </p>
  </div>
  <ul class="publications__list">
      {% for publication in publications %}
      <li>
        <article class="publications__list-item">
          <a href="{% url 'publication_by_slug' publication.slug %}" class="article__date">
            18 июля 2021 г.
            20:42	
          </a>
          <a href="{% url 'publication_by_slug' publication.slug %}" class="article__img">
            <img src="{{ publication.preview_image.url }}" alt="">
          </a>
          <div class="article__about">
            <h3>
              <a href="{% url 'publication_by_slug' publication.slug %}">
                {{ publication.title }}
              </a>
            </h3>
            <div>
              {{ publication.announcement|safe }}
            </div>
          </div>
        </article>
    </li>
      {% endfor %}
  </ul>
</section>
{% endblock mainInfo %}
        {% block paginator %}
        <div class="paginator">
            <div class="paginator_wrapper">
                <nav class="list_pages">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li class="">
                            <a href="?page={{ page_obj.previous_page_number }}"><</a>
                        </li>
                        {% endif %}
                        {% if page_obj.has_other_pages %}
                        {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        <li class="page_num page_num_selected">{{ page }}</li>
                        {% elif page >= page_obj.number|add:-5 and page <= page_obj.number|add:5 %}
                        <li class="page_num">
                            <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="">
                            <a href="?page={{ page_obj.next_page_number }}">></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% endblock paginator %}
{% else %}
{% block not_found %}
        <p class="main__info-not-found">
            Публикаций не найдено
        </p>
{% endblock not_found %}
{% endif %}
{% endblock content %}
{% block js %}
{% endblock js %}
