{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/sitemap.css' %}">
{% endblock %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Карта сайта
        </p>
    </div>
{% endblock %}
{% block content %}
  <ul class="root">
    {% recursetree nodes %}
        <li class="site_map_link">
          <div class="site_map_folder">
            <img src="{% static 'img/folder.gif' %}" alt="" class="site_map_folder_img">
          </div>
          <div class="site_map_link_items">
            <a class="site_map_link_item" href="/{{ node.id }}">{{ node.title }}</a>
          </div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
  </ul>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/sitemap.js' %}"></script>
{% endblock %}
