{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/base_advertisement_style.css' %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style_for_type_1.css' %}">
{% endblock %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Магазины. Беларусь
        </p>
    </div>
{% endblock %}
{% block find %}
    <section class="search_table_stores">
        <nav class="table_topics_search_location">
            <select name="#" id="#" class="table_topics slct">
                <option value="#">Все разделы</option>
            </select>
            <input type="text" placeholder="Поиск по тексту" class="table_search">
            <select name="#" id="#" class="table_location slct">
                <option value="#">Любое расположение</option>
            </select>
            <div class="checkbox_button">
                <input type="image" name="submit" src="{% static 'img/poisk.png' %}">
            </div>
        </nav>
    </section>
{% endblock %}
<div class="wrapper">
    <div class="container">
        {% block filter %}

            <div class="category_navigation_bar">
                <div class="category_wrapper">
                {% if category %}
                    <div class="category_list">
                        {% for cat in category %}
                            {% if cat %}
                                <a href="{% url 'advertisement_by_category' cat.slug %}{% if region_param.id %}?region={{ region_param.id }}{% endif %}" class="category">
                                    {{ cat.title }}, {{ cat.store_counts }}
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endif %}
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="sort_bar">
                <div class="sort_wrapper">
                    <div class="number_of_advertisements">
                        Найдено: {{ stores_found }}
                    </div>

                </div>
            </div>
            <div class="store_list">
                <table>
                    {% for store in page_obj %}
                    <tr class="store_item">
                        <td class="store_img">
                            <a href="#" >
                                <img src="{{ store.logo_image.url }}" alt="{{ store.logo_image.url }}">
                            </a>
                        </td>
                        <td class="store_info">
                            <a href="#" class="cart_link">{{ store.title }}</a>
                            <p>{{ store.region }}</p>
                            {% if store.address %}
                                <p>{{ store.address }}</p>
                            {% endif %}
                            {% if store.phone_num %}
                                <p>тел. {{ store.phone_num }}</p>
                            {% endif %}
                        </td>
                        <td class="store_category">
                            <p>{{ store.category }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
        {% block paginator %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <p class="other_page"><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></p>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <p class="current_page">{{ num }}</p>
                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                        <p class="other_page"><a href="?page={{ num }}">{{ num }}</a></p>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <p class="other_page"><a href="?page={{ page_obj.next_page_number }}">Следующая</a></p>
                {% endif %}
            </div>
        {% endblock %}
        {% block prefooter %}
        {% endblock %}
    </div>
</div>
