{% extends 'base_for_personal_account.html' %}

{% load static %}
{% block user_data_page %}
    <div class="wrapper">
        <div class="container">
            <div class="line"></div>
            <div class="page_user_data">
                <div class="body">
                    <nav class="personal_account_navigation">
                        <ul>
                            <li class="wallet">
                                <p class="wallet_title">В Вашем кошельке</p>
                                <p class="wallet_amount"> 0,00 руб.</p>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="green_item">Выход</a>
                            </li>
                            <li>
                                <a href="{% url 'ud' %}">Контактные данные</a>
                            </li>
                            <li>
                                <a href="{% url 'pa' %}">Мои объявления</a>
                            </li>
                            <li>
                                <a href="#" class="red_item">Добавить магазин</a>
                            </li>
                            <li>
                                <a href="{% url 'in' %}">Входящие сообщения</a>
                            </li>
                            <li>
                                <a href="{% url 'out' %}">Исходящие сообщения</a>
                            </li>
                            <li>
                                <a href="{% url 'sent' %}">Отправленные сообщения</a>
                            </li>
                            <li>
                                <a href="#">История платежей</a>
                            </li>
                            <li>
                                <a href="#" class="red_item">Пополнить кошелек</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="user_data">
                    <form method="POST" class="user_data_form">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.as_p }}
                        <button class="ishsenit_button">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}