{% extends 'base_for_personal_account.html' %}

{% load static %}
{% block user_data_page %}
    <title>Контактные данные</title>
    <div class="wrapper">
        <div class="container">
            <div class="line"></div>
            <div class="page_user_data">
                <div class="body">
                    <nav class="personal_account_navigation">
                        <ul>
                            <li class="wallet">
                                <p class="wallet_title">В Вашем кошельке</p>
                                <p class="wallet_amount"> 0,00 руб.</p>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="green_item">Выход</a>
                            </li>
                            <li>
                                <a href="{% url 'user_data' %}">Контактные данные</a>
                            </li>
                            <li>
                                <a href="{% url 'personal_account' %}">Мои объявления</a>
                            </li>
                            <li>
                                {% if request.user.store %}
                                    <a href="{% url 'my_store' %}">Мой магазин</a>
                                {% else %}
                                    <a href="{% url 'add_store' %}" class="red_item">Добавить магазин</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{% url 'incoming_messages' %}">Входящие сообщения</a>
                            </li>
                            <li>
                                <a href="{% url 'outgoing_messages' %}">Исходящие сообщения</a>
                            </li>
                            <li>
                                <a href="{% url 'sent_messages' %}">Отправленные сообщения</a>
                            </li>
                            <li>
                                <a href="#">История платежей</a>
                            </li>
                            <li>
                                <a href="#" class="red_item">Пополнить кошелек</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="user_data">
                    <form method="POST" class="user_data_form" action="">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>

                        {% endfor %}
                        <button class="ishsenit_button">Изменить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}