
.crumbs {
    & ~.filter {
        padding: 0;
    }
}

.crumbs__wrapper {
    padding: 15px 0;
}

.crumbs__list {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap
}

.crumbs__list-item-dots {
    @include fonts($defaultColor, 14px, 400);
}

.crumbs__list-item {
    & a {
        @include fonts($defaultColor, 14px, 400);

        &:hover {
            color: $colorHover;
        }
    }
}