footer {
    padding: 40px 0;
}


.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.footer__nav-list-item {
    & a {
        @include fonts($defaultColor,14px, 400);
        &:hover {
            color:$colorHover;
        }
    }
}

.footer__info {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;
}

.footer__info-organization-list {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

    & li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @include fonts(gray, 14px, 400);
        word-break: break-word;
        line-height: 1.3;
    }
}

.footer__payment-info {
    width: 100%;
    max-width: 500px;
    align-self: flex-end;
    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}