.form__notifications-access {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background: rgb(28, 161, 28);
  @include fonts(#fff, 16px, 400);
  opacity: 0;
  user-select: none;
}

.access__active {
  animation-name: notifications;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes notifications {
  0% {
    transform: rotate(1deg);
  }
  
  50% {
    opacity: 1;
    transform: rotate(-1deg);
  }
  
  75% {
    transform: rotate(0deg);
  }
  
  100% {
    opacity: 0;
  }
}