
.modals__reset-password {
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 450px;
    width: 100%;
}

.modals__reset-password-field {
    width: 100%;
}