.paginator {
  width: 100%;
}

.list_pages {
  & ul {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    & li {
      & a {
        @include fonts($mainColor, 16px, 400);
      }
    }
  }
}

.page_num_selected {
  padding: 5px 8px;
  background: $mainColor;
  @include fonts(#fff, 16px, 400);
}