.main__info {
  flex: 1 1 auto;
  width: 100%;
}


.main__info-nav {
  margin-bottom: 15px;
}

.main__info-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  & a {
    display: block;
    padding: 8px;
    @include fonts($asideLinksColor, 13px, 600);

    &:hover {
      color: $colorHover;
    }
  }
}

.main__info-advertisement-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  & a {
    display: block;
    @include fonts($asideLinksColor, 13px, 600);

    &:hover {
      color: $colorHover;
    }
  }

  & li {
    flex: 1 1 auto;
  }
}

.main__info-advertisement-list-item-achive {
  display: flex;
  gap: 5px;
  flex-direction: column;

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & a {
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.main__info-advertisement-list-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 15px;
}

.main__info-advertisement-list-item-about {
  flex: 0 1 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  
}

.main__info-advertisement-list-item-about-date {
  @include fonts($defaultColor, 14px, 400);
}

.main__info-advertisement-list-item-about-time {
  @include fonts(gray, 14px, 400);
}

.main__info-advertisement-list-item-about-remained {
  @include fonts($asideExitColor, 14px, 400);
}

.main__info-advertisement-list-item-img {
   flex: 0 0 200px; 
   display: block;
   align-self: stretch;
  & img {
    border-radius: 7px;
    max-height: 140px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.main__info-advertisement-list-item-title-wrap {
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  & h3 {
    @include fonts($mainColor, 14px, 400);
  }

  & p {
    @include fonts(gray, 14px, 400);
  }
}

.main__info-action {
  display: flex;
  align-items: center;
  gap: 5px;

  & p {
    @include fonts($defaultColor, 16px, 400);
  }
}

.main__info-advertisement-nav-select-all {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  & p {
    @include fonts($defaultColor, 14px, 400);
  }
}

.advertisement__active {
  border: 1px solid $asideExitColor;
}

.advertisement__archive {
  border: 1px solid red;
}

.main__info-not-found {
  text-align: center;
  @include fonts($defaultColor, 24px, 400);
  margin-top: 60px;
}

@media(max-width:992px) {
  .main__info-advertisement-list-item {
    flex-direction: column;
  }

  .main__info-advertisement-list-item-achive {
    order: 4;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main__info-advertisement-list {
    row-gap: 20px;
  }
  
  .main__info-advertisement-list-item-img {
    order: 1;
    width: 100%;
    height: 100%;
    & img {
      max-height: 400px;
    }
  }

  .main__info-advertisement-list-item-title-wrap {
    flex: initial;
    order: 2;
  }

  .main__info-advertisement-list-item-about {
    flex: initial;
    order: 3;
  }
}