.publications__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.publications__list-item {
  display: flex;
  gap: 15px;
  border: 1px solid $defaultColor;
  padding: 5px;
  border-radius: 10px;

  & a {
    &:hover {
      color: $colorHover;
    }
  }
}

.publications__list-item-date-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 150px;
}

.article__status {
  @include fonts($colorHover, 14px, 400);
}

.moderated {
  @include fonts($asideExitColor, 14px, 400);
}

.publications__list-item-check {
  display: flex;
  gap: 5px;
  @include fonts($defaultColor, 14px, 400);
}

.article__date {
  display: block;
  align-self: start;
  text-align: inherit;
  @include fonts($defaultColor, 14px, 400);
}

.article__img {
  display: block;
  flex: 0 0 150px;
  & img {
    max-height: 90px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.article__about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  & h3 {
    & a {
      @include fonts($mainColor, 16px, 400);
    }
  }

  & div {
    @include fonts($defaultColor, 14px, 400);
  }

  & input {
    align-self: flex-start;
  }
}

.article__edit {
  align-self: start;
  @include fonts($mainColor, 14px, 400);
  &:hover {
    color: $colorHover;
  }
}

@media(max-width: 992px) {
  .publications__list-item {
    flex-direction: column;
  }
  
  .article__edit {
    order: 4;
    align-self: initial;
  }

  .publications__list-item-date-edit{
    flex: 0 0 100px;
  }

  .article__date {
    flex: initial;
    align-self: flex-start;
    order: 3;
  }

  .article__about {
    order: 2;
  }

  .article__img {
    order: 1;
    flex: initial;
    & img {
      max-height: 300px;
    }
  }
}