.region__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    gap: 15px;
    padding: 40px 0;

    & a {
        display: block;
        @include fonts($mainColor, 14px, 400);
        &:hover {
            color: $colorHover;
        }
    }
}