.similar {
    padding-top: 15px;
}

.similar__title {
    @include fonts($defaultColor, 14px, 400);
    margin-bottom: 20px;
}

.similar__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    overflow: hidden;
}

.similar__list-item {
    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
}

.similar__list-item-img {
    flex: 0 0 180px;
    max-width: 180px;
    border: 1px solid $gray;
    & img {
        max-height: 180px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.similar__list-title {
    @include fonts($mainColor, 14px, 400);
    text-align: center;
}

.similar__list-price {
    @include fonts($defaultColor, 14px, 400);
    text-align: center;
}