.slick-list {
    overflow: hidden;
}


.slick-track {
    display: flex;
    flex-direction: column;
}

.slick-arrow {
    font-size: 0;
    width: 20px;
    height: 20px;
}

.slick-prev {
    background: url(../img/sliderArrow.svg) no-repeat center;
    transform: rotate(180deg);
}

.slick-next {
    background: url(../img/sliderArrow.svg) no-repeat center;
}