.stores__list-item {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}

.stores__list-item-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stores__list-item-img {
  flex: 0 0 160px;
  display: block;
  & img {
    max-height: 120px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.stores__list-item-about {
  flex: 0 1 300px;
  & a {
    @include fonts($mainColor, 18px, 600);

    &:hover {
      color: $colorHover;
    }
  }
  & p {
    @include fonts($defaultColor, 14px, 400);
  }
}

.stores__list-item-district {
  color: gray !important;
}

.stores__list-item-category {
  @include fonts(gray, 14px, 400);
}
