$mainColor: #3077a0;
$defaultColor: black;
$colorHover: red;
$headerTopBorder: #bdd4e2;
$buttonBg:linear-gradient(0deg, #4d95d6,#6e93dd,#c2d6f4);;
$gray: #D4D4D4;
$vipBg: #ff6163;
$activeItem: #FFFFCA;
$userSearchBg: #CFE6FE;
$asideLinksColor: #307792;
$asideExitColor: rgb(0, 128, 0);