.views {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 10px;

  & div {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20px;
    max-height: 20px;
  }
}

.views__hide, .views__show {
  display: none;
}

.views__show-active {
  display: block;
}