    @import './variables';
    @import './mixins';
    @import './filter';
    @import './sort';
    @import './advertisementItem';
    @import "./vipAdd";
    @import './crumbs';
    @import "./mooreList";


    .advertisement{
        display: flex;
        align-items: flex-end;
        gap: 15px;
        flex-wrap: wrap-reverse;
    }