.container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

@import './variables';
@import './mixins';
@import './modals';
@import "./header";
@import './mainSearch';
@import "./footer";


.modal__active {
    display: flex;
}