@import '../../../main_page_domer/static/scss/mixins';
@import '../../../main_page_domer/static/scss/variables';
@import './slider';
@import './crumbs';
@import './similarAds';


.details__title {
    @include fonts($defaultColor, 20px, 400);
    margin-bottom: 10px;
}


.details__advertisement-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & p {
        &:first-child {
            & span {
                @include fonts(red, 18px, 400);
            }
        }
            @include fonts(black, 14px, 400);
        
    }
}

.details__advertisement-info {
    margin-bottom: 15px;
}

.details__advertisement-view-wrap {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.details__advertisement-view {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 0;
    flex: 1 1 auto;
}

.details__advertisement-view-list-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-width: 0;
    position: relative;



    & .slick-current {
        opacity: 1;
        transition: .3s ease;
    }
}

.details__advertisement-view-img-wrap {
    position: relative;
    flex: 0 1 620px;
    min-width: 0;
}

.video {
    &::before {
        content: "";
        display: block;
        width: 25px;
        height: 17px;
        background: url(../img/icons/youtubeIcon.svg) no-repeat center / cover, #fff;
        border-radius: 5px;
        position: absolute;
        top: 35px;
        left: 24px;
        z-index: 4;
    }
}


.details__advertisement-view-img {
    border: 2px solid $gray;
    border-radius: 5px;
    height: 480px;
    min-width: 0;
    position: relative;
     & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 5px;
    }

    & .slick-list {
        height: 100%;
        min-width: 0;
    }

    & .slick-track {
        height: 100%;
        flex-direction: initial;
    }

    & .slick-arrow {
        position: absolute;
        z-index: 3;
        width: 40px;
        height: 54px;
        opacity: 0.7;
        background: url(../img/icons/arrow_right.png);
    }

    & .slick-next {
        right: -1.5px;
        top: 200px;
    }

    & .slick-prev {
        left: -1.5px;
        top: 200px;
        transform: rotate(180deg);
    }
}

.magnifier {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.details__advertisement-view-list-img-item {
    width: 74px;
    height: 80px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s ease;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
}

.details__advertisement-view-list-img {
    flex: 0 0 74px;
}

.details__advertisement-options {
    flex: 1 0 220px;
    padding: 20px 12px;
    border: 1px solid $gray;
    border-radius: 5px;
}

.details__advertisement-options-view {
    @include fonts($defaultColor, 14px, 400);
    margin-bottom: 10px;
}
.details__advertisement-options-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

     & li {
        display: flex;
        align-items: center;
        gap: 5px;
        &:nth-child(1) {
            &::before {
                flex: 0 0 20px;
                content: '';
                display: block;
                height: 20px;
                background: url(../img/VIP.png) no-repeat center / cover;
            }
        }
        &:nth-child(2) {
            &::before {
                flex: 0 0 20px;
                content: '';
                display: block;
                height: 20px;
                background: url(../img/highlight.png) no-repeat center / cover;
            }
        }
        &:nth-child(3) {
            &::before {
                flex: 0 0 20px;
                content: '';
                display: block;
                height: 20px;
                background: url(../img/special.png) no-repeat center / cover;
            }   
        }
        &:nth-child(4) {
            &::before {
                flex: 0 0 20px;
                content: '';
                display: block;
                height: 20px;
                background: url(../img/up.png) no-repeat center / cover;
            }
        }
     }
    
    & a {
        display: block;
        @include fonts($mainColor, 14px, 400);
        &:hover {
            color: $colorHover;
        }
    }
}

.details__advertisement-about {
    padding: 10px 15px;
    border: 1px solid $gray;
    border-radius: 10px;
    max-width: 720px;
}

.details__advertisement-about-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.details__advertisement-about-list-item {
    display: flex;
    align-items: center;
    gap: 35px;

    & p {
        @include fonts($defaultColor, 14px, 400);
    }
}

.details__advertisement-about-list-item-action {
    & p {
        @include fonts($mainColor, 14px, 400);
        cursor: pointer;

        &:hover {
            color: $colorHover;
        }

        & span {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
.details__advertisement-about-list-item-img {
    max-width: 16px;
    max-height: 16px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.details__advertisement-additional-description-list {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details__advertisement-additional-description-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details__advertisement-additional-description-list-item-title {
    @include fonts($defaultColor, 14px, 400);
}

.details__advertisement-additional-description-list-item-value {
    @include fonts($defaultColor, 14px, 400);
}

.details__advertisement-additional-description-list-item-value-price{
    @include fonts($colorHover, 14px, 400);
}

.details__advertisement-about-description {
    @include fonts($defaultColor, 14px, 400);
    white-space: pre-line;
    margin-bottom: 20px;
}

.detials__advertisement-about-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details__advertisement-add-favorites {
    display: flex;
    align-items: center;
    gap: 5px;
}

.details__advertisement-add-favorites-img {
    max-width: 19px;
    max-height: 19px;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.details__advertisement-add-favorites{
    & p {
        @include fonts($mainColor, 14px, 400);
        cursor: pointer;

        &:hover {
            color: $colorHover;
        }
    }
}

.details__advertisement-add-report {
    @include fonts($mainColor, 14px, 400);
    cursor: pointer;

    &:hover {
        color: $colorHover;
    }
}

.details__advertisement-add-share-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.details__advertisement-add-share-list-item {
    position: relative;
    & a {
        display: block;
        width: 24px;
        height: 24px;

        & svg {
            border-radius: 50%;
        }
    }


    & button {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        padding-top: 2px;
        @include fonts($mainColor, 14px, 400);
    }
}

.details__advertisement-add-share-list-drop {
    max-height: 300px;
    overflow: auto;
    transition: .3s ease;
    transform: scale(0);
    position: absolute;
    padding: 5px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    right: 0;
    top: 28px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 0 4px rgba(0,0,0,0.1);
    padding: 8px 0;
    min-width: 180px;
}

.details__advertisement-add-share-list-drop-item {
    padding: 2px 8px;

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
    & a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: initial;
        height: initial;

        & p {
            @include fonts($defaultColor, 14px, 400);
            line-height: 24px;
        }

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    & button {
        width: initial;
        height: initial;
        border-radius: initial;
        background: none;
        display: flex;
        align-items: center;
        gap: 10px;

        & div {
            max-width: 24px;
            & img {
                max-height: 24px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        & p {
        @include fonts($defaultColor, 14px, 400);
        }
    }
}

.details__advertisement-add-share-list-item-drop-btn-active {
    transition: .3s ease;
    transform: scale(1);
}


@media (max-width:992px) {
    .details__advertisement-view-wrap {
        display: initial;
    }
    .details__advertisement-options {
        flex: initial;
    }

    .details__advertisement-view-img-wrap {
        flex: 0 1 auto;
    }

    .details__advertisement-view {
        margin-bottom: 20px;
    }

    .details__advertisement-about {
        margin-top: 20px;
    }

    .detials__advertisement-about-action  {
        gap: 20px;
        flex-wrap: wrap;
    }

    .details__advertisement-add-share-list {
        width: 100%;
        justify-content: flex-end;
    }

}
