
.profile {
  padding-top: 10px; 
  display: flex;
  align-items: flex-start;
  gap: 20px;
}


@media (max-width:992px) {
  .profile {
    flex-direction: column
  }
}

@import "./variables";
@import "./mixins";
@import "./profileAside";
@import './profileMainInfo';
@import "./paginator";

