@import "./variables";
@import "./mixins";

.form__wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(300px, 1fr) 220px;
}

.main__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }

  & select, input, textarea {
    width: 100%;
    max-width: 320px;
    border: 1px solid $gray;
    padding: 5px;
    border-radius: 7px;
    @include fonts($defaultColor, 14px, 400);
  }

  & option {
    padding-left: 15px;
  }

  & button {
    max-width: 200px;
  }

  & p {
    @include fonts($defaultColor, 14px, 400);
    flex: 0 1 200px;
  }
}

.photo_img {
  position: relative;
  border: 1px solid $asideLinksColor;
  border-radius: 3px;
  max-width: 120px;
  & img {
    max-width: 120px;
    max-height: 85px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }

  &:hover {
    .delete_img {
      transition: 0.3s ease;
      opacity: 1;
      display: block;
    }
  }
}

.delete_img {
  border-radius: 0 3px 0 0;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background: url(../img/icons/krestik.svg) no-repeat 100% 100% /100% 100%, rgb(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

@media(max-width: 992px) {
  .main__info {
    & select, input, textarea {
      width: 100%;
      max-width: none;
    }

    & label {
      justify-content: flex-start;
    }
  }
  .form__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

