
.profile {
  padding-top: 10px; 
  display: flex;
  align-items: flex-start;
  gap: 20px;
}


@media (max-width:992px) {
  .profile {
    flex-direction: column
  }
}

@import "./variables";
@import "./mixins";
@import "./profileAside";
@import './profileMainInfo';
@import "./paginator";

.form-error {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & li {
      max-width: 350px;
      @include fonts($colorHover, 14px, 400);
      text-align: right;
    }
}

.label__error {
  & select,input {
    border-color: red;
  }
}

.ck-editor-container {
  max-width: 320px;
}

.word-count {
  display: none;
}

@media(max-width: 992px) {
  .ck-editor-container {
    max-width: none;
  }
}