@import "./variables";
@import "./mixins";

.section_publications {
  margin-top: 20px;
}

.publication_text_title {
  @include fonts($defaultColor, 24px, 600);
  margin-bottom: 20px;
}

.publication_data {
  @include fonts($defaultColor, 14px, 400);
  margin-bottom: 10px;
}

.publication_link_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $defaultColor;
}

.publication_img {
  & img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.publication_text {
  @include fonts($defaultColor, 14px, 400);
  & p, li {
    @include fonts($defaultColor, 14px, 400);
  }

  :where(h1,h2,h3,h4,h5,h6) {
    @include fonts($defaultColor, 18px, 600);
  }

  & ul,ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.publication_views {
  margin-top: 10px;
  @include fonts($defaultColor, 14px, 400);
}