@import "./variables";
@import "./mixins";
@import "./publicationsItem";

.main__info-action {
  margin-top: 10px;

  & p {
    @include fonts($defaultColor, 14px, 400);
  }

  & button {
    padding: 7px;
    border-radius: 5px;
    background: none;
    border: 1px solid $defaultColor;
    @include fonts($defaultColor, 14px, 400);
  }
}

.publications_count {
  margin: 10px 0;

  & p {
    @include fonts($defaultColor, 14px, 400);
  }
}

.main__info-not-found {
  text-align: center;
  @include fonts($defaultColor, 24px, 400);
  margin-top: 40px;
}