@import "./variables";
@import "./mixins";

.main__info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & label {
    display: flex;
    align-items: center;
    gap: 10px;

    & p {
      flex: 0 0 200px;
      @include fonts($defaultColor, 14px, 400);
    }
  }

  & input, textarea {
    max-width: 320px;
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    @include fonts($defaultColor, 14px, 400);

    &::placeholder {
      @include fonts(gray, 14px, 400);
    }
  }

  & button {
    max-width: 320px;
  }
}

