@import "./variables";
@import "./mixins";

.main__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 530px;

  & label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    & p {
      flex: 0 0 200px;
      @include fonts($defaultColor, 14px, 400);
    }
  }

  & input,
  textarea {
    max-width: 320px;
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    @include fonts($defaultColor, 14px, 400);

    &::placeholder {
      @include fonts(gray, 14px, 400);
    }
  }

  & button {
    max-width: 320px;
  }
}


.photo_img {
  position: relative;
  border: 1px solid $asideLinksColor;
  border-radius: 3px;
  max-width: 120px;
  & img {
    max-width: 120px;
    max-height: 85px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }

  &:hover {
    .delete_img {
      transition: 0.3s ease;
      opacity: 1;
      display: block;
    }
  }
}

.delete_img {
  border-radius: 0 3px 0 0;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 1;
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

@media (max-width: 992px) {
  .main__info {
    max-width: none;
    & input {
      max-width: none;
    }

    & label {
      flex-direction: column;
      align-items: initial;
      & p {
        flex: initial;
      }
    }
  }
}
