@import "./variables";
@import "./mixins";
@import "./storesListItem";

.category_navigation_bar {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}

.number_of_advertisements {
  @include fonts($defaultColor, 14px, 400);
  margin: 10px 0 20px;
}

.category_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  & a {
    @include fonts($mainColor, 14px, 400);

    &:hover {
      color: $colorHover;
    }
  }
}

.stores {
  margin-top: 20px;
}
.stores__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}