.main {

}
.container {
    max-width: 996px;
    margin: 0 auto;
}

.category_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    word-wrap: break-word;

}

.category {
    display: flex;
    justify-content: center;
    font-size: 13px;
    flex-wrap: wrap;
    font-family: Trebuchet MS;
    flex-basis: 33%;
    padding: 5px 0;
}

.paginator_wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    & ul {
        display: flex;
        gap: 7px;
    }
}



@media (max-width: 540px) and (min-width: 300px) {
.category{flex-basis: 50%; justify-content: center;}  }
