.reference_informations{
    color: black;
}


.pointer{
    display: flex;
    width: 10px;
    height:10px;
    background: black;
    border-radius: 50%;
    margin: auto 3px;
}

.copy{
    display: flex;
    width: 10px;
    height:10px;
    background: red;
    border-radius: 50%;
    margin: auto 3px;
}

.item_title{
    display: flex;
}
