.label_fields {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.description_textarea {
    border-radius: 2px;
    border: 1px solid #B5B8C8;
    width: 326px;
    height: auto;
}

.information_item-input {
    border-radius: 2px;
    border: 1px solid #B5B8C8;
    width: 326px;
    height: auto;
    margin-top: 5px;
}

.description {
    display: flex;
    margin-top: 5px;
}

.title_adver {
    display: flex;
    margin-top: 5px;
}

.bearer {
    display: flex;
    margin-top: 5px;
}

.contact {
    margin-top: 5px;
}

.contact_information {
    display: flex;
    margin-top: 5px;
}

.email_information {
    display: flex;
    margin-top: 5px;
}

.phone_information {
    display: flex;
    margin-top: 5px;
}

.link_youtube {
    display: flex;
    margin-top: 5px;
}

.photo {
    display: flex;
    margin-top: 5px;
}

.add_adv {
    margin-top: 10px;
    width: 200px;
}

.photo_file {
}

.photo_preview {
    display: flex;
    max-width: 362px;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 5px;
}

.photo_img {
    max-width: 82px;
    max-height: 62px;
    position: relative;

    &:hover {
        & .delete_img {
            display: block;
        }
        /*& .img_preview {*/
        /*    opacity: 0.5;*/
        /*}*/
    }
}

.img_preview {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 1;
    &:hover {
        /*opacity: 0.5;*/
        padding: 2px;
        outline: 2px solid #3CB371;
        transition: 0.1s ease-out;
    }

    &:active {
        top: 2px;
        transition: 0.3s ease;
    }
}

.delete_img {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background: url(../img/krestik.svg) no-repeat 100% 100% /100% 100%, rgb(128, 127, 125, 0.5);

    &:hover {
        & ~.img_preview {
            opacity: 0.5;
        }

    }
}

.main_img {
    padding: 2px;
    outline: 2px solid #3CB371;
}


