<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block content %}
  <h3>Восстановление пароля</h3>
  <form method="post">
    {% csrf_token %}
      <p>введите email</p>
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
{% endblock %}
</body>
</html>
