.feedback_form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.feedback_title {
    display: flex;
    padding-bottom: 10px;
    font-family: "Trebuchet MS";
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.feedback_email {
    display: flex;
}

.feedback_subject {
    display: flex;
}

.feedback_message {
    display: flex;
}

.feedback_recaptcha {
    display: flex;
    gap: 13px;
}