.profile {
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 992px) {
  .profile {
    flex-direction: column;
  }
}
.profile__aside {
  padding: 10px;
  border-radius: 7px;
  background: #CFE6FE;
  flex: 0 0 192px;
  border: 1px solid #D4D4D4;
}

.profile__aside-nav-list {
  display: flex;
  flex-direction: column;
}
.profile__aside-nav-list a {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #307792;
  font-size: 13px;
}
.profile__aside-nav-list a:hover {
  color: red;
}

.exit a {
  color: rgb(0, 128, 0);
}
.exit a:hover {
  color: rgb(0, 128, 0);
}

.priority a {
  color: red;
}

@media (max-width: 992px) {
  .profile__aside {
    flex: initial;
    width: 100%;
  }
  .profile__aside-nav-list {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.main__info {
  flex: 1 1 auto;
  width: 100%;
}

.main__info-nav {
  margin-bottom: 15px;
}

.main__info-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.main__info-list a {
  display: block;
  padding: 8px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #307792;
  font-size: 13px;
}
.main__info-list a:hover {
  color: red;
}

.main__info-advertisement-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.main__info-advertisement-list a {
  display: block;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #307792;
  font-size: 13px;
}
.main__info-advertisement-list a:hover {
  color: red;
}
.main__info-advertisement-list li {
  flex: 1 1 auto;
}

.main__info-advertisement-list-item-achive {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.main__info-advertisement-list-item-achive li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__info-advertisement-list-item-achive a {
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
}
.main__info-advertisement-list-item-achive a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main__info-advertisement-list-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 15px;
}

.main__info-advertisement-list-item-about {
  flex: 0 1 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.main__info-advertisement-list-item-about-date {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 14px;
}

.main__info-advertisement-list-item-about-time {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 14px;
}

.main__info-advertisement-list-item-about-remained {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 128, 0);
  font-size: 14px;
}

.main__info-advertisement-list-item-img {
  flex: 0 0 200px;
  display: block;
  align-self: stretch;
}
.main__info-advertisement-list-item-img img {
  border-radius: 7px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main__info-advertisement-list-item-title-wrap {
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main__info-advertisement-list-item-title-wrap h3 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3077a0;
  font-size: 14px;
}
.main__info-advertisement-list-item-title-wrap p {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 14px;
}

.main__info-action {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main__info-action p {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 16px;
}

.main__info-advertisement-nav-select-all {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.main__info-advertisement-nav-select-all p {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 14px;
}

.advertisement__active {
  border: 1px solid rgb(0, 128, 0);
}

.advertisement__archive {
  border: 1px solid red;
}

.main__info-not-found {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 24px;
  margin-top: 60px;
}

@media (max-width: 992px) {
  .main__info-advertisement-list-item {
    flex-direction: column;
  }
  .main__info-advertisement-list-item-achive {
    order: 4;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main__info-advertisement-list {
    row-gap: 20px;
  }
  .main__info-advertisement-list-item-img {
    order: 1;
    width: 100%;
    height: 100%;
  }
  .main__info-advertisement-list-item-img img {
    max-height: 400px;
  }
  .main__info-advertisement-list-item-title-wrap {
    flex: initial;
    order: 2;
  }
  .main__info-advertisement-list-item-about {
    flex: initial;
    order: 3;
  }
}
.paginator {
  width: 100%;
}

.list_pages ul {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.list_pages ul li a {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3077a0;
  font-size: 16px;
}

.page_num_selected {
  padding: 5px 8px;
  background: #3077a0;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 16px;
}

.form-error {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-error li {
  max-width: 350px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 14px;
  text-align: right;
}

.label__error select, .label__error input {
  border-color: red;
}

.ck-editor-container {
  max-width: 320px;
}

.word-count {
  display: none;
}

@media (max-width: 992px) {
  .ck-editor-container {
    max-width: none;
  }
}/*# sourceMappingURL=profile.css.map */