.advertisement__list {
  flex: 1 1 680px;
}

.default__item .advertisement__list-item {
  display: flex;
  gap: 40px;
  padding: 5px;
  border-bottom: 1px solid #D4D4D4;
}
.default__item ~ .vip__wrap {
  flex: 1 0 250px;
}
.default__item .advertisement__list-item-img {
  display: block;
  max-width: 180px;
  max-height: 140px;
}
.default__item .advertisement__list-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.default__item .advertisement__list-item-about {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.default__item .advertisement__list-item-about-favorites {
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/favorite.png) no-repeat center/cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.default__item .advertisement__list-item-title a {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3077a0;
  font-size: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.default__item .advertisement__list-item-title a:hover {
  color: red;
}
.default__item .advertisement__list-item-price {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 16px;
}
.default__item .advertisement__list-item-about-text-list li {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 16px;
}
.default__item .advertisement__list-item-action {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}
.default__item .advertisement__list-item-action li {
  max-width: 18px;
  max-height: 18px;
}
.default__item .advertisement__list-item-action li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.default__item .advertisement__favorites-active {
  background: url(../img/favorite_yes.png) no-repeat center/cover;
}

.second__item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px 15px;
  flex: 1 1 auto;
}
.second__item .advertisement__list-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
  border: 1px solid #D4D4D4;
  border-radius: 7px;
}
.second__item ~ .vip__wrap {
  flex: 0 0 250px;
}
.second__item .advertisement__list-item-img {
  display: block;
  flex: 0 1 140px;
}
.second__item .advertisement__list-item-img img {
  max-height: 140px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.second__item .advertisement__list-item-title a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3077a0;
  font-size: 16px;
}
.second__item .advertisement__list-item-title a:hover {
  color: red;
}
.second__item .advertisement__list-item-price {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 14px;
  margin: 5px 0;
}
.second__item .advertisement__list-item-about-text-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.second__item .advertisement__list-item-about-text-list li {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
  font-size: 14px;
}
.second__item .advertisement__list-item-about-text-list li:nth-child(1) {
  display: none;
}
.second__item .advertisement__list-item-about-text-list li:nth-child(2) {
  display: none;
}
.second__item .advertisement__list-item-action {
  display: none;
}
.second__item .advertisement__list-item-about {
  position: relative;
}
.second__item .advertisement__list-item-about-favorites {
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/favorite.png) no-repeat center/cover;
  position: absolute;
  bottom: 0;
  right: 0;
}
.second__item .advertisement__favorites-active {
  background: url(../img/favorite_yes.png) no-repeat center/cover;
}

@media (max-width: 992px) {
  .default__item {
    flex: 1 1 auto;
  }
  .default__item ~ .vip__wrap {
    flex: 1 0 250px;
  }
  .default__item .advertisement__list-item {
    gap: 15px;
    flex-direction: column;
  }
  .default__item .advertisement__list-item-img {
    max-width: none;
    max-height: none;
  }
  .default__item .advertisement__list-item-img img {
    max-height: 400px;
  }
  .default__item .advertisement__list-item-about::before {
    top: initial;
    bottom: 0;
    right: 10px;
    left: initial;
  }
  .second__item ~ .vip__wrap {
    flex: 1 0 250px;
  }
}
.active__item {
  background: #FFFFCA;
}

.main__info-favorites-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}/*# sourceMappingURL=profileFavorites.css.map */