.root{
    padding-top: 10px;
}

.search_table{
    display: none;
}

.site_map_link{
    display: flex;
    margin-bottom: 3px;
}

.site_map_folder{
   margin-right: 5px;
}

.children{
    margin-top: 20px;
}

.site_map_link_items{
    width: 0;
}

.site_map_link_item{
    display: block;
    width: max-content;
    padding-top: 2px;
}