.search_table_stores {
    display: flex;
    flex-direction: column;
    background: #CFE6FE;
    border-radius: 10px;
    height: 38px;
    padding: 5px;
    gap: 5px;
}

.store_list {
    display: flex;
    & table {
        max-width: 948px;
        width: 100%;
    }
}

table tr {
    display: flex;
    gap: 5px;
    height: 125px;
    border-bottom: 1px solid #D4D4D4;
}

.store_img {
    display: flex;
    justify-content: center;
    padding: 10px 5px 5px 5px;
    width: 150px;
    & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.store_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 5px 5px 5px;
    max-width: 330px;
    width: 100%;
    & p {
        margin-bottom: 5px;
        font-family: "Trebuchet MS";
        font-size: 13px;
        &.store_title {
            font-size: 14px;
            font-weight: bold;
            color: #307792;
            text-align: justify;
        }
    }
}

.store_category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 5px 5px 5px;
    max-width: 250px;
    width: 100%;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #858585;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.current_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    min-width: 20px;
    width: auto;
    font-family: "Trebuchet MS";
    font-size: 14px;
    background-color: #307792;
    color: #FFFFFF;
}

.other_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    min-width: 20px;
    width: auto;
    & a {
        font-family: "Trebuchet MS";
        font-size: 14px;
        color: #307792;
    }
}