
.store_ads_list_wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 20px;
}

.store_ads_list {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-wrap: wrap;
    gap: 10px;
    max-width: 656px;
}

.store_ad {
    background: #E4E4E4;
    width: 204px;
    height: 245px;
    position: relative;
    border: 1px solid #D4D4D4;
}

.store_ad_favorite_button {
    position: absolute;
    bottom: 2px;
    right: 2px;

    & img {
        cursor: pointer;
    }
}

.store_ad_info {
    display: flex;
    flex-direction: column;
    margin: 3px;

    & a {
        color: #307792;
        font-weight: bold;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 0 5px 0;
    }

    & p {

        color: #858585;
        font-size: 13px;
        font-family: Trebuchet MS;
    }
}

.store_ad_link {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store_ad_img {
    display: flex;
    justify-content: center;
    height: 165px;
    width: 204px;
    & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.store_ad_info_bearer {
    display: none;
}

.sort_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
    flex-wrap: wrap;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

.type_sorted {
    display: flex;
    gap: 10px;
    align-items: end;
}

.number_of_advertisements_per_page {
    display: flex;
    gap: 5px;
    align-items: end;

    & a {
        padding: 2px;
        border: 1px solid black;
    }
}

.sorted_by_price_or_date {
    display: flex;
    gap: 5px;
    align-items: end;
    flex-wrap: wrap;
}