{% extends 'personal_account/base_for_personal_account.html' %}

{% load static %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Переписка.
        </p>
    </div>
{% endblock %}
{% block user_search_table %}
{% endblock %}
{% block content %}
    <title>Переписка</title>
            <div class="body">
                <div class="admin_message_form">
                    <form method="POST" class= 'admin_message_text_box'>
                        {% csrf_token %}
                        <textarea name="" id="" cols="30" rows="10" class="admin_message_text_box"></textarea>
                        <div class="admin_message_buttons">
                            <button>Отправить</button>
                            <button>Положить в папку исходящие</button>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}