{% extends 'personal_account/base_for_personal_account.html' %}

{% load static %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Диалоги
        </p>
    </div>
{% endblock %}
{% block user_search_table %}
{% endblock %}
{% block content %}
    <title>Диалоги</title>
    <section class="chat">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="success-message">{{ message }}</div>
                    <script>
                        setTimeout(function() {
                            let successMessage = document.querySelector('.success-message');
                            successMessage.style.display = 'none';
                        }, 5000);
                    </script>
            {% endif %}
        {% endfor %}
        <form method="POST" class="dialogs" action="{% url 'users:delete_dialogs' %}">
            <div class="user_dialogs">Ваши диалоги:</div>
            {% csrf_token %}
            <div class="select_all_dialogs">
                <input type="checkbox" id="select_dialogs"/>
                <label for="select_dialogs">Выделить все диалоги</label>
            </div>
            {% load user_tags %}
            {% if chats.count == 0 %}
                <div class="no_dialogs">Нет ни одного начатого диалога</div>
            {% endif %}
            {% for chat in chats %}
                {% if chat.message_set.count != 0 %}
                    {% with last_message=chat.message_set.last %}
                        {% get_companion user chat as companion %}
                        <div class="one_dialog">
                            <div class="dialog_checkbox">
                                <input type="checkbox" name="dialog_checkbox" value="{{ chat.id }}">
                                <label>Выделить</label>
                            </div>
                            <a class="dialog_items" href="{{ chat.get_absolute_url }}">
                                <div class="dialog_body">
                                    <p class="subject_of_dialog">
                                        <strong>Объявление: {{ chat.subject }}</strong>
                                    </p>
                                    <ul class="dialog_list">
                                        {% if companion == last_message.author %}
                                        <li class="last_message_author">
                                            <strong>{{ companion.first_name }}</strong>
                                        </li>
                                        {% else %}
                                        <li class="last_message_author">
                                            <strong>{{ user.first_name }}</strong>
                                        </li>
                                        {% endif %}
                                        <li class="last_message_pub_date">
                                            <small>{{ last_message.pub_date }}</small>
                                        </li>
                                    </ul>
                                    <p class="{% if not last_message.is_read %}last_message_unread{% else %}last_message_read{% endif %}">
                                        {{ last_message.message|truncatechars_html:"200"|safe|striptags }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
            <div class="dialogs_marked">
                <p>Отмеченные:</p>
                <button name="delete_dialogs">Удалить</button>
            </div>
        </form>
    </section>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/dialogs_and_messages.js' %}"></script>
{% endblock %}