{% extends 'personal_account/base_for_personal_account.html' %}

{% load static %}
{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Переписка
        </p>
    </div>
{% endblock %}
{% block user_search_table %}
{% endblock %}
{% block content %}
    <title>Переписка</title>
    <section class="chat">
        {% if not chat %}
            <div class="no_dialogs">
                Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе
            </div>
        {% else %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success-message">{{ message }}</div>
                        <script>
                            setTimeout(function() {
                                let successMessage = document.querySelector('.success-message');
                                successMessage.style.display = 'none';
                            }, 5000);
                        </script>
                {% endif %}
            {% endfor %}
            <div class="dialog_structure">
            {% load user_tags %}
            {% if chat %}
                {% get_companion user chat as companion %}
                    <div class="user_dialogs">Объявление: {{ chat.subject }}</div>
                    <div class="messages">
                        {% for message in chat.message_set.all|dictsort:"pub_date" %}
                            <div class="{% if not message.is_read %}message_unread{% else %}message_read{% endif %}">
                                <div class="message_body">
                                    <ul class="message_items">
                                        <li class="message_author">
                                            <strong class="{% if message.author == companion %}companion_message{% else %}user_message{% endif %}">{{ message.author.first_name }}</strong>
                                        </li>
                                        <li class="message_pub_date">
                                            <small class="{% if message.author == companion %}message_pub_date_green{% else %}message_pub_date_black{% endif %}">{{ message.pub_date }}</small>
                                        </li>
                                    </ul>
                                    <div class="message_text">{{ message.message|safe }}</div>
                                    {% if message.author == user %}
                                        <form method="POST" class="delete_user_message" action="{% url 'users:delete_user_message' chat_id=chat.id message_id=message.id %}">
                                            {% csrf_token %}
                                            <input type="submit" name="delete_message" value="Удалить сообщение">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
                <div class="send_message_form">
                    <form method="POST" class="message_form">
                        {% get_companion user chat as companion %}
                        {% csrf_token %}
                        <label class="message_label">Написать сообщение пользователю {{ companion.first_name }}</label>
                        {{ form.message }}
                        <button class="send_message">Отправить</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}