{% load static %}
{% load user_tags %}
    <div class="list-group-item {% if not message_item.is_read %}unread{% endif %}">
        <div class="reply-body">
            <ul class="list-inline">
                <li class="drop-left-padding">
                    <strong class="list-group-item-heading">{{ message_item.author.first_name }}</strong>
                </li>
                <li class="pull-right text-muted">
                    <small>{{ message_item.pub_date }}</small>
                </li>
            </ul>
            <div>{{ message_item.message|safe }}</div>
        </div>
    </div>