{% extends 'personal_account/base_for_personal_account.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/user_add_publication/style.css' %}">
{% endblock stylesheet %}

{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Добавление новой публикации
        </p>
    </div>
{% endblock nav_title %}
{% block line %}
{% endblock line %}
{% block content %}
<title>Все разделы. Все регионы</title>
<div class="personal_account_body">
    <div class="body">
        <div class="wrapper__form">
            <form action="" method="POST" enctype="multipart/form-data" class="form_add_publication">
                {% csrf_token %}
                {{ form_publication.as_p }}
                <div class="photo">
                    <p class="photo_label label_fields">Загрузите фотографии</p>
                    <div class="photo_file">
                        <input type="file" class="file_input" name="preview_image" id="photo_list" multiple>
                        <div class="photo_preview">
                        </div>
                    </div>
                </div>
            </form>
            <button class="button_add_publication">Разместить публикацию</button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/personal_account.js' %}"></script>
    <script src="{% static 'js/save_publication.js' %}"></script>
{% endblock %}
