{% extends 'personal_account/base_for_personal_account.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/user_add_publication/style.css' %}">
{% endblock stylesheet %}

{% block nav_title %}
    <div class="nav_category_title">
        <p>
            Все разделы. Все регионы
        </p>
    </div>
{% endblock nav_title %}
{% block line %}
{% endblock line %}
{% block content %}
<title>Все разделы. Все регионы</title>
<div class="personal_account_body">
    <div class="body">
        <div class="wrapper__form">
            {{ form_publication.as_p }}
        </div>
    </div>
    <div class="photo">
        <p class="photo_label label_fields">Фотографии (не более 30 штук)</p>
        <div class="photo_file">
            <input type="file" class="file_input" name="photo_files" id="photo_list" multiple>
            <div class="photo_preview">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/personal_account.js' %}"></script>
{% endblock %}
