{% extends "base.html" %} 
{% load static %}
{% load advertisement_tags %}
{% block css %}
 <link rel="stylesheet" href="{% static 'css/details.css'%}">
{% endblock css %} 
{% block crumbs %}
<section class="crumbs">
    <div class="crumbs__wrapper">
      <ul class="crumbs__list">
        <li class="crumbs__list-item">
          <a href="{% url 'advertisement' %}"> Все объявления </a>
        </li>
        <li class="crumbs__list-item-dots">...</li>
        <li class="crumbs__list-item">
          <a href="{% url 'advertisement' %}?region={{ advertisement.region_id }}"> {{ advertisement.region }} </a>
        </li>
        <li class="crumbs__list-item-dots">...</li>
        {% for category_crumb in category_crumbs %}
          <li class="crumbs__list-item">
          <a href="{% url 'advertisement_by_category' category_crumb.slug %}"> {{ category_crumb.title }} </a>
        </li>
            {% if not forloop.last %}
        <li class="crumbs__list-item-dots">...</li>
            {% endif %}
          {% endfor %}
      </ul>
    </div>
</section>
{% endblock crumbs %} 

{% block modals %}
<div class="magnifier__zoom">
  <div class="magnifier__zoom-main">
    {% if advertisement.video_link %}
    <div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ advertisement.video_link|cut:'https://www.youtube.com/watch?v=' }}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
      </iframe>
    </div>
    {% endif %}
    <div>
      <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
      alt="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
    </div>
    {% for photo in advertisement.photoadvertisement_set.all %}
    {% if photo.photo.url != advertisement.preview_image.url %}
      <div>
      <img data-lazy="{{ photo.photo.url }}" alt="{{ photo.photo.url }}">
    </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="magnifier__zoom-second">
    {% if advertisement.video_link %}
    <div class="magnifier__zoom-second-item video">
      <img data-lazy="https://i.ytimg.com/vi/{{ advertisement.video_link|cut:'https://www.youtube.com/watch?v=' }}/hqdefault.jpg" alt="">
    </div>
    {% endif %}
    <div class="magnifier__zoom-second-item">
      <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                 alt="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
    </div>
    {% for photo in advertisement.photoadvertisement_set.all %}
      {% if photo.photo.url != advertisement.preview_image.url %}
    <div class="magnifier__zoom-second-item">
      <img data-lazy="{{ photo.photo.url }}" alt="{{ photo.photo.url }}">
    </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock modals %}

{% block content %}
<section class="details">
    <div class="details__wrapper">
      <h1 class="details__title">{{ advertisement.title }}</h1>
      <div class="details__advertisement-info">
        {% if advertisement.price %}
        <p>Цена <span>{{ advertisement.price|floatformat }}</span> руб.</p>
        {% endif %}
        <p>ID:{{ advertisement.id }}</p>
        <p>
            {% if advertisement.date_of_create.date == date_today %}
            Сегодня 
            {% elif advertisement.date_of_create.date == date_yesterday %}
            Вчера 
            {% else %} 
            {{ advertisement.date_of_create|date:"d b. Y" }}
            {% endif %}
            {{ advertisement.date_of_create|date:"H:i" }}
        </p>
      </div>
      <div class="details__advertisement-view-wrap">
        <div class="details__advertisement-view">
          <div class="details__advertisement-view-img-wrap">
            <div class="details__advertisement-view-img">
              {% if advertisement.video_link %}
              <div>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ advertisement.video_link|cut:'https://www.youtube.com/watch?v=' }}"
                title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" 
                  allowfullscreen></iframe>
              </div>
              {% endif %}
                <div>
                    <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                 alt="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
                </div>
              {% for photo in advertisement.photoadvertisement_set.all %}
                {% if photo.photo.url != advertisement.preview_image.url %}
              <div>
                <img data-lazy="{{ photo.photo.url }}" alt="{{ photo.photo.url }}">
              </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="magnifier">
              <img src="{% static 'img/icons/lupa.png' %}" alt="zoom">
            </div>
          </div>
          <ul class="details__advertisement-view-list-img">
            {% if advertisement.video_link %}
            <li class="details__advertisement-view-list-img-item video">
              <img data-lazy="https://i.ytimg.com/vi/{{ advertisement.video_link|cut:'https://www.youtube.com/watch?v=' }}/hqdefault.jpg" alt="">
            </li>
            {% endif %}
              <li class="details__advertisement-view-list-img-item">
                    <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                 alt="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
              </li>
            {% for photo in advertisement.photoadvertisement_set.all %}
              {% if photo.photo.url != advertisement.preview_image.url %}
            <li class="details__advertisement-view-list-img-item">
              <img data-lazy="{{ photo.photo.url }}" alt="{{ photo.photo.url }}">
            </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="details__advertisement-options">
          <p class="details__advertisement-options-view">
            Просмотров: {{ advertisement.counter_views }}
          </p>
          <ul class="details__advertisement-options-list">
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Сделать VIP-объявлением
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Выделить объявление
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Спецразмещение
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Поднять в поиске
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="details__advertisement-about">
        <ul class="details__advertisement-about-list">
          <li class="details__advertisement-about-list-item">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/site.png" %}" alt="region">
            </div>
            <p>
                {{ advertisement.region }}
            </p>
          </li>
          <li class="details__advertisement-about-list-item">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/user.png" %}" alt="user">
            </div>
            <p>
                {{ advertisement.contact_name }}
            </p>
          </li>
          <li class="details__advertisement-about-list-item details__advertisement-about-list-item-action">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/telefon.gif" %}" alt="phone">
            </div>
            <p class="details__advertisement-about-list-item-phone">
              <span>Показать номер телефона</span>
              <span>{{ advertisement.phone_num }}</span>
            </p>
          </li>
          <li class="details__advertisement-about-list-item details__advertisement-about-list-item-action">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/email.gif" %}" alt="email">
            </div>
            <p>
              Отправить письмо
            </p>
          </li>
        </ul>
        <ul class="details__advertisement-additional-description-list">
          {% for title,item in advertisement.additional_information_view %}
          {% if title and item %}
          <li class="details__advertisement-additional-description-list-item">
            <p class="details__advertisement-additional-description-list-item-title">
              {{ title }}:
            </p>
            <p class="details__advertisement-additional-description-list-item-value 
            {% if title == 'Цена' %}details__advertisement-additional-description-list-item-value-price{% endif %}"
            >
              {% if title == "Этаж" %} {{item|split_item:", "|first}}/{{item|split_item:", "|last}} {% else %} {{ item }} {% endif %}
            </p>
          </li>
            {% endif %}
          {% endfor %}
        </ul>
        <p class="details__advertisement-about-description">
          {{ advertisement.description }}
        </p>
        <div class="detials__advertisement-about-action">
          <div class="details__advertisement-add-favorites">
            <div class="details__advertisement-add-favorites-img">
              <img src="{% static "img/icons/Edit_Yes.png" %}" alt="star">
            </div>
            <p>
              Добавить в избранное
            </p>
          </div>
          <a href="{% url 'complaint' advertisement.id %}" class="details__advertisement-add-report">
            Пожаловаться
          </a>
          <div class="ya-share2" data-url="{{ url }}{{ advertisement.get_absolute_url }}" data-curtain data-shape="round" data-limit="3" data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,pinterest,skype,tumblr,evernote,linkedin,lj,blogger,delicious,digg,reddit,pocket,qzone,renren,sinaWeibo,surfingbird,tencentWeibo"></div>
      </div>
    </div>
</section>
<section class="similar">
  <h2 class="similar__title">
    Похожие объявления
  </h2>
  <ul class="similar__list">
      {% for advertisement in similar_advertisement %}
    <li>
      <article class="similar__list-item">
        <a href="{% url 'advertisement_details' advertisement.slug %}">
          <div class="similar__list-item-img">
            <img src="{% if advertisement.preview_image %} {{ advertisement.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
          </div>
          <h3 class="similar__list-title">
              {{ advertisement.title }}
          </h3>
        </a>
          {% if advertisement.price %}
        <p class="similar__list-price">
            {{ advertisement.price }}
        </p>
          {% endif %}
      </article>
    </li>
      {% endfor %}
  </ul>
</section>
{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="{% static 'js/details/slick.min.js' %}"></script>
  <script src="{% static 'js/details/slider.js' %}"></script>
  <script src="https://yastatic.net/share2/share.js"></script>
  <script src="{% static 'js/details/magnifier.js' %}"></script>
  <script src="{% static "js/details/showPhone.js" %}"></script>
{% endblock js %}
