{% extends "advertisementAdd.html" %}
{% load static %}

{% block crumbs %}
    {% if category_bread_crumbs or region_bread_crumbs %}
        <section class="crumbs">
            <div class="crumbs__wrapper">
                <ul class="crumbs__list">
                    <li class="crumbs__list-item">
                        <a href="{% url 'advertisement' %}">Все объявления</a>
                    </li>
                    <li class="crumbs__list-item-dots">...</li>
                    {% if region_bread_crumbs %}
                        {% for bread_crumbs in region_bread_crumbs %}
                            <li class="crumbs__list-item">
                                <a href="?region={{ bread_crumbs.id }}">{{ bread_crumbs.area }}</a>
                            </li>
                            {% if not forloop.last %}
                            <li class="crumbs__list-item-dots">...</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if category_bread_crumbs %}
                        {% if region_bread_crumbs %}
                            <li class="crumbs__list-item-dots">...</li>
                        {% endif %}
                        {% for bread_crumbs in category_bread_crumbs %}
                            <li class="crumbs__list-item">
                                <a href="?category={{ bread_crumbs.id }}{% if region_bread_crumbs %}{% for region in region_bread_crumbs %}&region={{ region.id }}{% endfor %}{% endif %}">{{ bread_crumbs.title }}</a>
                            </li>
                            {% if not forloop.last %}
                            <li class="crumbs__list-item-dots">...</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
{% block category_filter %}
    <section class="filter">
        <ul class="filter__list">
            {% for category in category %}
            {% if category.advertisement_counts != 0 %}
                <li class="filter__list-item">
                    <a href="{% url 'advertisement_by_category' category.slug %}{% if region_bread_crumbs %}?{% for region in region_bread_crumbs %}&region={{ region.id }}{% endfor %}{% endif %}">
                        {{ category.title }}, <span>{{ category.advertisement_counts }}</span>
                    </a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endblock category_filter %}
{% block sort %}
    <section class="sort">
        <div class="sort__ads">
            Найдено: <span>{{ ads_found }}</span>
        </div>
        <ul class="sort__type-list">
            <li class="sort__type-list-item">
                <img src="{% static 'img/sort1.png' %}" alt="{% static 'img/sort1.png' %}">
            </li>
            <li class="sort__type-list-item">
                <img src="{% static 'img/sort2.png' %}" alt="{% static 'img/sort2.png' %}">
            </li>
        </ul>
        <div class="sorted__output">
            <p>
                Выводить по:
            </p>
            <ul class="sorted__output-list">
                <li class="sorted__output-list-item">
                    <a href="?sort=30{% if query %}&{{ query }}{% endif %}">
                        30
                    </a>
                </li>
                <li class="sorted__output-list-item">
                    <a href="?sort=60{% if query %}&{{ query }}{% endif %}">
                        60
                    </a>
                </li>
                <li class="sorted__output-list-item">
                    <a href="?sort=90{% if query %}&{{ query }}{% endif %}">
                        90
                    </a>
                </li>
            </ul>
        </div>
        <div class="sorted__by">
            <p>
                Сортировать:
            </p>
            <ul class="sorted__by-list">
                <li class="sorted__by-list-item">
                    <a href="?date={{ date }}{% if query %}&{{ query }}{% endif %}">
                        Дата
                    </a>
                    <div class="sorted__by-list-item-img">
                        <img src="{% static 'img/icons/arrowDown.svg' %}" alt="">
                    </div>
                </li>
                <li class="sorted__by-list-item">
                    <a href="?price={{ date }}{% if query %}&{{ query }}{% endif %}">
                        Цена
                    </a>
                    <div class="sorted__by-list-item-img">
                        <img src="{% static 'img/icons/arrowDown.svg' %}" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </section>
    {% endblock sort %}
{% block paginator %}
<div class="paginator">
        <div class="paginator_wrapper">
            <nav class="list_pages">
                <ul>
                    {% if page_obj.has_previous %}
                        <li class="">
                            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&{{ query }}{% endif %}"><</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_other_pages %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="page_num page_num_selected">{{ page }}</li>
                            {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                <li class="page_num">
                                    <a href="?page={{ page }}{% if query %}&{{ query }}{% endif %}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="">
                            <a href="?page={{ page_obj.next_page_number }}{% if query %}&{{ query }}{% endif %}">></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock paginator %}