{% extends "base.html" %} 
{% load static %} 
{% block css %}
 <link rel="stylesheet" href="{% static "css/details.css"%}"> 
{% endblock css %} 
{% block crumbs %}
<section class="crumbs">
  <div class="container">
    <div class="crumbs__wrapper">
      <ul class="crumbs__list">
        <li class="crumbs__list-item">
          <a href="#"> sdajkfd </a>
        </li>
        <li class="crumbs__list-item-dots">...</li>
        <li class="crumbs__list-item">
          <a href="#"> dfad </a>
        </li>
        <li class="crumbs__list-item-dots">...</li>
        <li class="crumbs__list-item">
          <a href="#"> adsklgfhasdfsad </a>
        </li>
        <li class="crumbs__list-item-dots">...</li>
        <li class="crumbs__list-item">
          <a href="#"> k;kaskd;klasjoeqwu </a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock crumbs %} 
{% block content %}
<section class="details">
  <div class="container">
    <div class="details__wrapper">
      <h1 class="details__title">{{ advertisement.title }}</h1>
      <div class="details__advertisement-info">
        {% if advertisement.price %}
        <p>Цена <span>{{ advertisement.price }}</span> руб.</p>
        {% endif %}
        <p>ID:{{ advertisement.id }}</p>
        <p>
            {% if advertisement.date_of_create.date == date_today %}
            Сегодня 
            {% elif advertisement.date_of_create.date == date_yesterday %}
            Вчера 
            {% else %} 
            {{ advertisement.date_of_create|date:"d b. Y" }}
            {% endif %}
            {{ advertisement.date_of_create|date:"H:i" }}
        </p>
      </div>
      <div class="details__advertisement-view-wrap">
        <div class="details__advertisement-view">
          <div class="details__advertisement-view-img">
            <img src="{{ advertisement.preview_image.url }}" alt="{{ advertisement.preview_image.url }}">
          </div>
          <ul class="details__advertisement-view-list-img">
            <li class="details__advertisement-view-list-img-item">
              <img data-lazy="{{ advertisement.preview_image.url }}" alt="{{ advertisement.preview_image.url }}">
            </li>
            {% for photo in advertisement.photoadvertisement_set.all %}
            <li class="details__advertisement-view-list-img-item">
              <img data-lazy="{{ photo.photo.url }}" alt="{{ photo.photo.url }}">
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="details__advertisement-options">
          <p class="details__advertisement-options-view">
            Просмотров:
          </p>
          <ul class="details__advertisement-options-list">
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Сделать VIP-объявлением
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Выделить объявление
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Спецразмещение
              </a>
            </li>
            <li class="details__advertisement-options-list-item">
              <a href="#">
                Поднять в поиске
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="details__advertisement-about">
        <ul class="details__advertisement-about-list">
          <li class="details__advertisement-about-list-item">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/site.png" %}" alt="region">
            </div>
            <p>
              Московский район
            </p>
          </li>
          <li class="details__advertisement-about-list-item">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/user.png" %}" alt="user">
            </div>
            <p>
              Ан Грант
            </p>
          </li>
          <li class="details__advertisement-about-list-item details__advertisement-about-list-item-action">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/telefon.gif" %}" alt="phone">
            </div>
            <p>
              <span>Показать номер телефона</span>
              <span>+37529232142</span>
            </p>
          </li>
          <li class="details__advertisement-about-list-item details__advertisement-about-list-item-action">
            <div class="details__advertisement-about-list-item-img">
              <img src="{% static "img/icons/email.gif" %}" alt="email">
            </div>
            <p>
              Отправить письмо
            </p>
          </li>
        </ul>
        <ul class="details__advertisement-additional-description-list">
          {% for title,item in advertisement.additional_information.items %}
          <li class="details__advertisement-additional-description-list-item">
            <p class="details__advertisement-additional-description-list-item-title">
              {{ title }}:
            </p>
            <p class="details__advertisement-additional-description-list-item-value 
            {% if title == 'Цена' %}details__advertisement-additional-description-list-item-value-price{% endif %}"
            >
              {{ item }}
            </p>
          </li>
          {% endfor %}
        </ul>
        <p class="details__advertisement-about-description">
          {{ advertisement.description }}
        </p>
        <div class="detials__advertisement-about-action">
          <div class="details__advertisement-add-favorites">
            <div class="details__advertisement-add-favorites-img">
              <img src="{% static "img/icons/Edit_Yes.png" %}" alt="star">
            </div>
            <p>
              Добавить в избранное
            </p>
          </div>
          <p class="details__advertisement-add-report">
            Пожаловаться
          </p>
          <div class="details__advertisement-add-share">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="{% static "js/details/slick.min.js" %}"></script>
  <script src="{% static "js/details/slider.js" %}"></script>
{% endblock js %}
