{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/advertisement.css" %}">
{% endblock css %}

{% block content %}
    <section class="filter">
        <ul class="filter__list">
            {% for category in category %}
                <li class="filter__list-item">
                    <a href="{% url 'advertisement_by_category' category.slug %}">
                        {{ category.title }}, <span>{{ category.advertisement_counts }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="sort">
        <div class="sort__ads">
            Найдено: <span>{{ ads_found }}</span>
        </div>
        <ul class="sort__type-list">
            <li class="sort__type-list-item">
                <img src="{% static "img/sort1.png" %}" alt="{% static "img/sort1.png" %}">
            </li>
            <li class="sort__type-list-item">
                <img src="{% static "img/sort2.png" %}" alt="{% static "img/sort2.png" %}">
            </li>
        </ul>
        <div class="sorted__output">
            <p>
                Выводить по:
            </p>
            <ul class="sorted__output-list">
                <li class="sorted__output-list-item">
                    <a href="?sort=3{% if region_param.id %}&region={{ region_param.id }}{% endif %}">
                    30
                </a>
                </li>
                <li class="sorted__by-list-item">
                    <a href="?sort=6{% if region_param.id %}&region={{ region_param.id }}{% endif %}">
                    60
                </a>
                </li>
                <li class="sorted__by-list-item">
                    <a href="?sort=9{% if region_param.id %}&region={{ region_param.id }}{% endif %}">
                    90
                </a>
                </li>
            </ul>
        </div>
        <div class="sorted__by">
            <p>
                Сортировать:
            </p>
            <ul class="sorted__by-list">
                <li class="sorted__by-list-item">
                    Дата
                </li>
                <li class="sorted__by-list-item">
                    Цена
                </li>
            </ul>
        </div>
    </section>
    <section class="advertisement">
        <ul class="advertisement__list">
            {% for card in page_obj %}
                <li>
                    <article class="advertisement__list-item active__item">
                        <a href="{% url 'advertisement_details' card.id %}" class="advertisement__list-item-img">
                            <img src="{% if card.preview_image %} {{ card.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                                 alt="{% if card.preview_image %} {{ card.preview_image.url }} {% else %}{% static 'img/no_image.jpg' %}{% endif %}">
                        </a>
                        <div class="advertisement__list-item-about">
                            <h3 class="advertisement__list-item-title">
                                <a href="{% url 'advertisement_details' card.id %}">
                                    {{ card.title }}
                                </a>
                            </h3>
                            <p class="advertisement__list-item-price">
                                {% if card.price %}
                                {{ card.price }} руб.
                            {% endif %}
                            </p>
                            <ul class="advertisement__list-item-about-text-list">
                                <li>
                                    {{ card.category }}
                                </li>
                                <li>
                                    {{ card.bearer }}
                                </li>
                                <li>
                                    {{ card.region }}
                                </li>
                                <li>
                                    {% if card.date_of_create.date == date_today %}
                                        Сегодня
                                    {% elif card.date_of_create.date == date_yesterday %}
                                        Вчера
                                    {% else %}
                                        {{ card.date_of_create|date:"d b. Y H:i" }}
                                    {% endif %}
                                </li>
                            </ul>
                            <ul class="advertisement__list-item-action">
                                <li class="advertisement__list-item-action-item">
                                    <img src="{% static "img/special.png" %}" alt="">
                                </li>
                                <li class="advertisement__list-item-action-item">
                                    <img src="{% static "img/VIP.png" %}" alt="">
                                </li>
                                <li class="advertisement__list-item-action-item">
                                    <img src="{% static "img/highlight.png" %}" alt="">
                                </li>
                                <li class="advertisement__list-item-action-item">
                                    <img src="{% static "img/up.png" %}" alt="">
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>
            {% endfor %}

        </ul>
        <div class="vip__wrap">
            <h2 class="vip__title">
                VIP объявления
            </h2>
            <ul class="vip__list">
                <li>
                    <article class="vip__list-item">
                        <a href="#">
                            <div class="vip__list-item-img">
                                <img src="{% static "img/ads_img/1.jpg" %}" alt="">
                            </div>
                            <h3 class="vip__list-item-title">
                                Дверь межкомнатная гармошка
                            </h3>
                            <p class="vip__list-item-district">
                                Октябрьский район
                            </p>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </section>

<div class="paginator">
                <div class="paginator_wrapper">
                    <nav class="list_pages">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li class="">
                                    <a href="?page={{ page_obj.previous_page_number }}{% if region_param.id %}&region={{ region_param.id }}{% endif %}"><</a>
                                </li>
                            {% endif %}
                            {% if page_obj.has_other_pages %}
                                {% for page in page_obj.paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page_num page_num_selected">{{ page }}</li>
                                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li class="page_num">
                                            <a href="?page={{ page }}{% if region_param.id %}&region={{ region_param.id }}{% endif %}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li class="">
                                    <a href="?page={{ page_obj.next_page_number }}{% if region_param.id %}&region={{ region_param.id }}{% endif %}">></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

{% endblock content %}

{% block js %}
    <script src="{% static "js/advertisementAdd/advertisementAdd.js" %}"></script>
{% endblock js %}