{% extends "base.html" %}
{% load static %}

{% block content %}
    <p style="color:black;">{{request.user.email}}</p><br>
    <form method="POST" action="" enctype="multipart/form-data" style="color:black;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить" id="send">
    </form>
    <div class="answer" id="answer" style="color:black;">
        <p>{{ answer }}</p>
        {% if answer  == "Несколько объявлений не были сохранены. Чтобы посмотреть объявления с ошибками скачайте файл" %}
        <input type="button" value="Скачать файл" id="download">
        <a href="{{ file }}" style="color:black;"> Скачать </a>
        {% endif %}
    </div>
{% endblock content %}
