{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/instructions_for_bulk_import_of_ads.css' %}">
{% endblock css %}

{% block content %}
<section class="instruction" style="color:black;" >
    <p>
        Пользователь доски объявлений Домер имеет возможность массово добавлять объявления. Обращаем внимание, что услага является платной.
        Массовый импорт объявлений можность осуществить при помощи:<br>
        - XLSX- файла;<br>
        - ZIP- архива, содержащено XLSX- файл и изображение для объявлений.
    </p>
    <p>
        Пример файла для массового импорта объявлений:<br>
        - XLSX- файла:<br>
        <a href="http://127.0.0.1:8000/media/example/example.xlsx">Скачать пример XLSX- файла </a><br>
        -  ZIP- архив:<br>
        <a href="http://127.0.0.1:8000/media/example/example.zip">Скачать пример ZIP- архива</a>
    </p>
    <p>
        Требование к полям для объявлений:
        <ul>
            <li>
                Артикул:
                <ol>
                    <li>- Является необязательным для заполнения полем;</li>
                    <li>- Не должен превышать 255 символов;</li>
                    <li>- Должен быть уникальным для всех объявлений загруженных одним пользователем.</li>
                </ol>
            </li>
            <li>
                Заголовок:
                <ol>
                    <li>- Является обязательным для заполнения;</li>
                    <li>- Не должен превышать 255 символов;</li>
                    <li>- Не должен содержать только цифры.</li>
                </ol>
            </li>
            <li>Цена:
                <ol>
                    <li>- Является не обязательным для заполнения;</li>
                    <li>- Числовое значение, разделяемое точкой дробную и челую часть числа;</li>
                    <li>- Цена указывается в белорусских рублях.</li>
                </ol>
            </li>
            <li>
                Категория:
                <ol>
                    <li>- Является обязательным для заполнения;</li>
                    <li>- Значение поля берется из установленного списка.</li>
                </ol>
            </li>
            <li>
                 Регион:
                <ol>
                    <li>- Является обязательным для заполнения;</li>
                    <li>- Значение поля берется из установленного списка.</li>
                </ol>
            </li>
            <li>
                Описание:
                <ol>
                    <li>- Является обязательным для заполнения.</li>
                </ol>
            </li>
            <li>
                Фото:
                <ol>
                    <li>- Является необязательным для заполнения полем;</li>
                    <li>- В поле в XLSX- файле указывается полное название файла с расширением;</li>
                    <li>- Не более 30 изображений для одного объявления.</li>
                </ol>
            </li>
        </ul>
    <h2>Импорт бъвлений и изображений с локального компьютера: </h2>
    <p>Шаг 1: заполните XLSX- файл в соответствии с требованиями указанными выше</p>
    <p>Шаг 2: Создайте ZIP-архив, который будет содержать XLSX-файл и все изображения, которые вы указали в XLSX-файле.</p>
    <img src="http://127.0.0.1:8000/media/example/screen_2.png" alt="http://127.0.0.1:8000/media/example/screen_2.png">
    <p>Шаг 3: Файл готов к загрузки.</p>

    <h2>Импорт объявлений:</h2>
    <ul>
        <li>1. Перейдите в личный кабинет.</li>
        <li>2. Нажмите кнопку “Массовый импорт”.</li>
        <li>3. Нажмите кнопку"Выбрать файл". Выберите файл на локальном компьютере (XLSX- файл, ZIP-архив), подготовленный вами ранее для подачи объявлений.</li>
        <li>4. Нажмите кнопку “Отправить”.</li>
        <li>5.  Файл начнет обрабатываться. Время обработки файла зависит от количества подаваемых объявлений и изображений.</li>
        <li>6. По факту завершения обработки файла вы получите информацию о результате импорта объявлений.</li>
        <li>7. Если в объявление будет некорректно заполнено одно из полей, вам будет предложено скачать XLSX-файл, содержащий объявления с ошибками.</li>
        <li>8. Исправьте найденные ошибки и заново загрузите файл. При загрузке ZIP-архива необходимо заново создавать архив откорректированным XLSX-файл и изображениями.</li>
    </ul>

</section>
<section class="reference_informations">
<h2>Ниже приведены установленные на сайте значение для полей в объявлениях:</h2>
<div class="areas"><br>
    <h3>Регион:</h3><br>
    <ul class="areas_list">
       {% for area in oblast %}
            <li class="area">
                <div class="area_title item_title" id={{area.id}}>
                    <div class="pointer"></div>
                    <p>{{area.area}}</p>
                </div>
                <ol class="cities"></ol>
            </li><br>
       {% endfor %}
    </ul><br>
    <h3>Категории:</h3><br>
    <ul class="categories_list">
        {% for category in categories %}
            <li class="category" >
                <div class="category_title item_title" id={{category.id}}>
                    <div class="pointer"></div>
                    <p>{{category.title}}</p>
                </div>
            </li><br>
        {% endfor %}
    </ul>
</div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static "js/instructions_for_bulk_import_of_ads.js" %}"></script>
{% endblock %}




